%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description

= @project.slug

= link_to 'Tasks', project_tasks_path(@project.slug)
\|
= link_to 'Edit', edit_project_path(@project.slug)
\|
= link_to 'Back', projects_path
