<div class="left-nav">
  <a href="" {{action 'openSidebar'}} class="open-sidebar burger hidden-on-large-screens">
    <i class="uk-icon-bars"><span class="sr-only">Menu</span></i>
  </a>

  <span class="current-org-and-group">
    {{#if group}}
      {{group.name}}
      {{#if group.private}}
        <i class="uk-icon-lock"><span class="sr-only">private</span></i>
      {{/if}}
      <span class="group-email-address">
        {{group.emailAddress}}
      </span>
    {{else}}
      {{organization.name}}: My Conversations
      <span class="group-email-address">
        {{organization.emailAddress}}
      </span>
    {{/if}}
  </span>
</div>

<div class="right-nav">
  {{#if conversations.isTrash}}
  {{else}}
    <a href="" class="toggle-conversations-controls" {{action 'toggleConversationsListControls'}}>
      {{#if showingConversationsListControls}}
        <i class="uk-icon-caret-up"><span class="sr-only">Hide Controls</span></i>
      {{else}}
        <i class="uk-icon-caret-down"><span class="sr-only">Show Controls</span></i>
      {{/if}}
    </a>
  {{/if}}
  {{#link-to composeRoute}}<i class="uk-icon-edit"><span class="sr-only">Compose</span></i>{{/link-to}}
</div>
