<div class="left-nav">
  <a href="" {{action openSidebar}} class="open-sidebar burger hidden-on-large-screens">
    <i class="uk-icon-bars"></i>
  </a>

  <span class="current-org-and-group">
    {{#if subjectTag}}
      <span>[{{subjectTag}}]</span>
    {{/if}}
    {{#if group}}
      <span>+{{group.name}}</span>
    {{/if}}
  </span>
</div>

<div class="right-nav">
  <a href="" class="toggle-conversations-controls" {{action toggleConversationsListControls}}>
    {{#if showingConversationsListControls}}
      <i class="uk-icon-caret-up"></i>
    {{else}}
      <i class="uk-icon-caret-down"></i>
    {{/if}}
  </a>
  {{#link-to composeRoute}}<i class="uk-icon-edit"></i>{{/link-to}}
</div>
