<!DOCTYPE html>
<html>
  <head>
    <title>Covered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="<%= asset_path 'icon.png' %>"/>
    <link rel="apple-touch-startup-image" href="<%= asset_path 'splash.png' %>"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">ENV = {FEATURES: {'query-params-new': true}};</script>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  </body>
</html>
