.sign-up-form
  = form_for @sign_up, url: sign_up_path, html: {class: ''}, remote: true do |f|
    .fields
      .field.email_address
        .errors
        = f.text_field :email_address,     type: 'email',  placeholder: 'Your email address', class: 'text-input wide-text-input'
      &nbsp;
      .field.organization_name
        .errors
        = f.text_field :organization_name, type: 'string', placeholder: 'Organization name', class: 'text-input wide-text-input'
    = submit_tag 'SIGN UP FOR FREE', class: "button #{button_color_class} large-button", data: { disable_with: 'SIGNING UP…' }

  .success
    .h1 We've sent you a confirmation email.
    .h2 Please click the link in your email to complete your account request.
