:javascript
  mixpanel.track('Homepage visited');
  $(function(){
    $('.section-one .header-huge, .section-one .header-sub').addClass('shown');

    scrollToElement.offsetY = $('.nav').height() * -1;
    var hash = location.hash.slice(1);
    if (hash === "") return;
    scrollToElement(hash, false);
  });


.homepage.page-column

  %section.section-one
    %h1.header-huge
      Email Groups: Evolved
    %p.header-sub
      Threadable makes group email less noisy and more actionable
    = render 'sign_up_form', button_color_class: 'black-button'


  %section.section-two

    .organizers
      %img.iconic{'data-src' => asset_path('connections.svg', type: :svg)}
      .big-text ORGANIZERS
      %p Keep in touch with every team member, regardless of their level of engagement.

    .everyone
      %img.iconic{'data-src' => asset_path('people.svg', type: :svg)}
      .big-text EVERYONE
      %p Precisely control what shows up in your inbox. Save attention for what matters.

  %section.section-three.paneled-section{'data-scroll-position' => 'quit-learning-new-tools'}
    .left-panel.small-panel

    .right-panel.large-panel
      .content
        .h2 Quit learning new tools.
        %div
          The most engaged team members need group communication most, but they're busy!
        %br
          Your team already knows how to use email.
          Meet them where they're at, and keep everyone on the same page, whether they're on desktop, tablet, or mobile.

  %section.section-four.paneled-section
    .left-panel.large-panel
      .content
        .h2 Groups: Organize fluidly
        %div
          Your team is creative. Let them approach new challenges independently.
          Anyone on the team can create a new group—for a project, a sub-team, a department, anything!
          Members-only, or shared with the whole team.
        %br
          Move a conversation from one group to another,
          %span.hype
            even after it's started.
          Don't anticipate your team's needs. Instead, create a group after discussion gains momentum.
          It's a whole new way of working with email.
    .right-panel.small-panel

  %section.section-five.paneled-section
    .left-panel.small-panel
      %img.iconic{'data-src' => asset_path('clock.svg', type: :svg)}
    .right-panel.large-panel
      .content
        .h2 Email that respects your time
        %div
          Threadable gives you unprecedented control over what's in your inbox.
          You can receive just the first message of each conversation, then follow the ones that look interesting.
          Or, get a summary of a whole group each day, and choose the threads you want delivered.
        %br
          And if there's just one conversation you don't need, one-click mute gets it out of your way.
          Not just in one client, but in all of them.
  %section.section-six.paneled-section
    .left-panel.large-panel
      .content
        .h2 Never miss a thing
        %div
          Join a new effort, start a new job, and you're dropped into the middle of existing conversations.
        %br
          Threadable keeps track of which messages you've received.
          If you show up late to the party, just sync the older messages right into your inbox.
          Or, read them in your browser using Threadable's responsive, fully-searchable web app.
    .right-panel.small-panel
      %img.iconic{'data-src' => asset_path('calendar.svg', type: :svg)}

  %section.section-seven.paneled-section
    .left-panel.small-panel
    .right-panel.large-panel
      .content
        .h2 Webhooks for flexibility.
        %div
          Better than filters: process your team's email in realtime using your own code. Reformat, store, notify, slice
          and dice – but leave all the messy parsing and delivery to us.

  %section.section-eight.paneled-section
    .left-panel.large-panel
      .content
        .h2 API
        %div
        :markdown
          Communication is key for social productivity to work. In less time than it takes to build simple email notifications,
          you can be using email as a full-featured platform for delivering real value to your users. Focus on your app's
          special sauce, and let [Threadable's API](http://docs.threadable.apiary.io) make your email sing.
    .right-panel.small-panel
      = image_tag 'homepage/tasks-in-your-inbox.jpg'

  %section.section-nine
    = render 'shared/threadable_logo'
    %p.header-sub Or, how I learned to stop worrying and love the inbox.

    = render 'sign_up_form', button_color_class: 'blue-button'

:javascript
  #{render 'sign_up_form.js'}
