:javascript
  mixpanel.track('Homepage visited');
  $(function(){
    scrollToElement.offsetY = $('.nav').height() * -1;
    var hash = location.hash.slice(1);
    if (hash === "") return;
    scrollToElement(hash, false);
  });


.homepage.page-column

  %section.section-one
    %h1.header-huge
      Better mailing lists for teams
    %p.header-sub
      Email discussion groups, evolved
    = render 'sign_up_form', button_color_class: 'black-button'


  %section.section-two

    .get-organized
      .icon
      .big-text GET ORGANIZED
      %p Create flexible teams on the fly for any project.

    .get-involved
      .icon
      .big-text GET INVOLVED
      %p Use your existing tools from your inbox with integrations.

    .get-things-done
      .icon
      .big-text GET ENGAGED
      %p Let your email dreams run wild with webhooks and APIs.

  %section.section-three.paneled-section{'data-scroll-position' => 'quit-learning-new-tools'}
    .left-panel.small-panel

    .right-panel.large-panel
      .content
        .h2 Quit learning new tools.
        %div
          Your team already knows how to use email. Meet them where they're at, and keep everyone engaged and on the same
          page, whether they're on desktop or mobile.

  %section.section-four.paneled-section
    .left-panel.large-panel
      .content
        .h2 Groups: keep your inbox relevant
        %div
          Anyone in your organization can make a new group, and you can join or leave them anytime. Move a conversation
          from one group to another, <em>even after it's started</em>. Organize threads without interrupting them, and say
          goodbye to reply-all.
    .right-panel.small-panel

  %section.section-five.paneled-section
    .left-panel.small-panel

    .right-panel.large-panel
      .content
        .h2 Enjoy the silence
        %div
          One click mute from any email thread stops delivery in its tracks – not just in one client, but in all of them.
          Want to check back in? Threadable has a rich, fully searchable web archive of every conversation, in every group,
          so it's easy to stay connected with the team.
  %section.section-six.paneled-section
    .left-panel.large-panel
      .content
        .h2 Easy integrations for everybody.
        %div
          Pull comment streams from the tools you already use and give them new life as threaded email discussions. Search,
          filter, reply, and subscribe using one easy interface. Get your whole team engaged with your existing tools. [Coming Soon!]
    .right-panel.small-panel
      = image_tag 'homepage/integrations.png'

  %section.section-seven.paneled-section
    .left-panel.small-panel
    .right-panel.large-panel
      .content
        .h2 Webhooks for flexibility.
        %div
          Better than filters: process your team's email in realtime using your own code. Reformat, store, notify, slice
          and dice – but leave all the messy parsing and delivery to us.

  %section.section-eight.paneled-section
    .left-panel.large-panel
      .content
        .h2 API
        %div
          Communication is key for social productivity to work. In less time than it takes to build simple email notifications,
          you can be using email as a full-featured platform for delivering real value to your users. Focus on your app's
          special sauce, and let Threadable's API make your email sing. [Coming Soon!]
    .right-panel.small-panel
      = image_tag 'homepage/tasks-in-your-inbox.jpg'

  %section.section-nine
    = render 'shared/threadable_logo'
    %p.header-sub Or, how I learned to stop worrying and love the inbox.

    = render 'sign_up_form', button_color_class: 'blue-button'

:javascript
  #{render 'show.js'}
