:javascript
  mixpanel.track('Homepage visited');


.homepage.page-column

  %section.section-one
    %h1.header-huge
      Mailing lists,
      %br
      meet the future.
    %p.header-sub The next generation of email discussion groups, because we all live in our inbox.
    = render 'sign_up_form', button_color_class: 'black-button'


  %section.section-two

    .get-organized
      .icon
      .big-text GET ORGANIZED
      %p Create flexible teams on the fly for any project.

    .get-involved
      .icon
      .big-text GET INVOLVED
      %p Manage work from your inbox without teaching everyone new tools.

    .get-things-done
      .icon
      .big-text GET ENGAGED
      %p Webhooks and APIs let your dreams of email run wild.

  %section.section-five.paneled-section
    .left-panel.large-panel
      .content
        .h2 More signal, less noise
        %div
          Groups let your team categorize conversations on-the-fly, as things develop. No more broken reply-all chains, worrying about who'll need to get which messages, or starting a new list and breaking the flow of conversation for a week. Anyone in your organization can make a new group. You can join or leave groups any time, controlling the flow of information that's relevant to you. Even better, you can move a conversation into a group after it's started. So, that thread about the ski trip being sent to the whole company is no longer a problem.
    .right-panel.small-panel
      = image_tag 'homepage/subgroups.png'


  %section.section-six.paneled-section
    .left-panel.small-panel
      = image_tag 'homepage/tasks-in-your-inbox.jpg'

    .right-panel.large-panel
      .content
        .h2 Tasks in your inbox
        %div
          With Threadable, you can create, assign, and track tasks from your inbox without any extensions to download or software to install. Anyone on your team can go from "Hey, I'll do that" to actually creating and claiming a task using nothing but their existing email, whether they're at their desk or on a mobile device.


  %section.section-seven.paneled-section
    .left-panel.large-panel
      .content
        .h2 Convenient, simple integrations
        %div
          Keep all your communications in one place, without changing your toolset. Pull comment streams from the tools you already use and give them new life as threaded email discussions. Search, filter, reply, and subscribe using one easy interface. Get your whole team engaged with your existing tools.

    .right-panel.small-panel
      = image_tag 'homepage/integrations.png'


  %section.section-eight.paneled-section
    .left-panel.small-panel

    .right-panel.large-panel
      .content
        .h2 Simple email commands
        %div
          Tell Threadable what to do with simple commands in the body of your email. Mark a task as &done, add someone as a &doer on a task, or &mute a conversation you're not interested in. Threadable makes it quick and easy to make what you want happen.

  %section.section-nine
    = render 'shared/threadable_logo'
    %p.header-sub Track and manage projects without leaving your inbox.

    = render 'sign_up_form', button_color_class: 'blue-button'

:javascript
  #{render 'show.js'}
