.uk-container-center.uk-width-large-1-3.uk-width-medium-1-2.authentication-form
  %h1 Welcome to Threadable
  .well-when-not-small
    %p Threadable is coming really soon.
    %p We'd love for you to join us. Learn more, and sign up for our early beta:
    = simple_form_for AccountRequest.new, url: account_request_path, class: 'uk-form uk-form-stacked' do |f|
      %fieldset
        .uk-form-row
          = f.input :organization_name, type: 'string', label: false, placeholder: 'Organization name', input_html: {class: 'uk-width-1-1 uk-form-large'}, required: true
        .uk-form-row
          = f.input :email_address,      type: 'email', label: false, placeholder: 'Email address',     input_html: {class: 'uk-width-1-1 uk-form-large'}, required: true
        .uk-form-row
          = submit_tag 'Request account', class: 'uk-button uk-button-primary uk-button-large sign-in-button'
          .uk-float-right
            = link_to 'Sign in', sign_in_path
