= form_for @project_task_doer do |f|
  - if @project_task_doer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_task_doer.errors.count, "error")} prohibited this project_task_doer from being saved:"
      %ul
        - @project_task_doer.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
