.held-messages.page-column
  .top-box
    Held Messages
  %section.uk-width-medium-3-4.uk-container-center
    %section
      .uk-grid
        - @held_messages.each do |held_message|
          .uk-width-1-1
            .uk-panel.uk-panel-box
              .uk-panel-teaser
                .mail{ style: "background-color: #{held_message.incoming_email.groups.first.try(:color)}" }
                  .title-holder.uk-container-center
                    %span.title
                      to:
                    %span.title
                      = held_message.incoming_email.groups.first.try(:name)
                    %span.add-button
                      = link_to 'Reject', reject_organization_held_message_path(@organization, held_message), class: 'uk-button uk-button-small', data:{method:'POST'}
                      = link_to 'Accept', accept_organization_held_message_path(@organization, held_message), class: 'uk-button uk-button-small', data:{method:'POST'}
              %span.from
                from:
              %span.email_address
                = held_message.incoming_email.sender
              .spacer
              %span.subject
                subject:
              %span.subject-text
                = held_message.subject
              .message-spacer.uk-hidden{ class: "message-#{held_message.id}" }
              .message-text.uk-hidden{ class: "message-#{held_message.id}" }
                = held_message.incoming_email.stripped_plain
              .expand
                %button.uk-button{"data-uk-toggle" => "{target:'.message-#{held_message.id}'}", class: "message-#{held_message.id}" }
                  %i.uk-icon-expand
                  Expand
                %button.uk-hidden.uk-button{"data-uk-toggle" => "{target:'.message-#{held_message.id}'}", class: "message-#{held_message.id}" }
                  %i.uk-icon-compress
                  Collapse
