<div class="left-nav">
  <a href="" {{action focusConversations}}>
    <i class="uk-icon-chevron-left"></i>
  </a>

</div>
<div class="right-nav">
  {{#if conversation.task}}
    {{#if conversation.done}}
      <a href="" {{action 'toggleComplete'}}><i class="uk-icon-check-square"></i></a>
    {{else}}
      <a href="" {{action 'toggleComplete'}}><i class="uk-icon-check"></i></a>
    {{/if}}
    <a href="" {{action 'toggleDoerSelector'}}><i class="uk-icon-user"></i></a>
  {{/if}}
  <a href="" {{action 'toggleMuted'}}><i {{bind-attr class="conversation.isMuted:uk-icon-volume-down:uk-icon-volume-up"}}></i></a>
</div>
