<div class="left-nav">
  <a href="" {{action focusGroups}} class="uk-hidden-large">
    <i class="uk-icon-bars"></i>
  </a>

  <span class="current-org-and-group">
    {{#if organization}}
      <span>[{{organization.subjectTag}}]</span>
    {{/if}}
    {{#if group}}
      <span>+{{group.name}}</span>
    {{/if}}
  </span>
</div>

<div class="right-nav">
  <a href="" class="uk-visible-small" {{action toggleConversationsListControls}}>
    {{#if showingConversationsListControls}}
      <i class="uk-icon-caret-up"></i>
    {{else}}
      <i class="uk-icon-caret-down"></i>
    {{/if}}
  </a>
  {{#link-to composeRoute}}<i class="uk-icon-edit"></i>{{/link-to}}
</div>
