%style{data: {immutable: true}}=Rails.application.assets['message_summary.css']
%style{data: {immutable: true, :"roadie-ignore" => true}}=Rails.application.assets['message_summary_not_outlook.css']
.message-summary
  %div.heading
    %div.message-count-summary
      = @message_count_summary
    = "#{@organization.name} summary for #{@formatted_date}."

  %br

  .buttons
    %table.threadable-button-table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        = email_button "New conversation", mail_to_href(@organization.email_address),      class: 'compose-button'
        = email_button "New task",         mail_to_href(@organization.task_email_address), class: 'compose-button'

  %br
  /[if mso]
    %br

  .message-list
    - @conversations.each do |conversation|
      %table.messages{border: 0, cellpadding: 0, cellspacing: 0}
        %tr
          %td{valign: 'top', class: "icon #{conversation.task? ? 'icon-task' : 'icon-conversation'}", rowspan: conversation.groups.count > 0 ? 3 : 2}
            - if conversation.task?
              = image_tag @check_url, width: '100%'
            - else
              = image_tag @bubble_url, width: '100%'

          %td{colspan: 2}
            %span.subject
              = link_to conversation.subject, conversation_url(@organization, 'my', conversation)
            %br
            %span.summary
              = "#{conversation.message_summary}"
        %tr
          %td
            %span.new-count
              = @new_count[conversation.id]
              new,
            %span.total-count
              = conversation.messages_count
              total
          %td
            .buttons
              %table.threadable-button-table
                %tr
                  = email_button "Follow and send #{pluralize(@not_sent_count[conversation.id], 'message')}", email_action_link(conversation, @recipient, "follow"), class: 'follow-button'

      - if conversation.groups.count > 0
        %table.groups{border: 0, cellpadding: 0, cellspacing: 0}
          %tr
            %td.spacer
            %td
              - conversation.groups.all.each do |group|
                = link_to group.name, conversations_url(@organization, group), class: 'badge badge-small', style: "background-color: #{group.color}"

  %br

  .footer
    .threadable-organization{:style => "font-family: Helvetica Neue, Arial, Helvetica, sans-serif;font-size: 12px"}
      = link_to @organization.name, organization_url(@organization)
      |
      = mail_to @organization.email_address, @organization.email_address
    .threadable-unsubscribe{:style => "font-family: Helvetica Neue, Arial, Helvetica, sans-serif;font-size: 10px"}
      = "#{link_to 'unsubscribe', @unsubscribe_url} | #{mail_to @threadable.support_email_address, 'feedback' }".html_safe

