
.uk-grid
  .uk-width-1-2
    %h2
      = @organization.name

  .uk-width-1-2
    = form_tag organization_join_path, class: 'uk-form uk-form-stacked' do
      %fieldset
        - if current_user
          .uk-form-row
            = submit_tag 'Join', class: 'uk-button uk-button-primary uk-button-large sign-in-button'
        - else
          .uk-form-row
            = text_field_tag 'sign_up[name]', '', label: 'Your name', placeholder: 'Jessie Smith', required: true
          .uk-form-row
            = text_field_tag 'sign_up[email_address]', '', label: 'Email address', placeholder: 'jessie@example.com', type: 'email', required: true
          .uk-form-row
            = submit_tag 'Sign up', class: 'uk-button uk-button-primary uk-button-large sign-in-button'
