.sign-up
  .banner.uk-grid.uk-container-center
    .name
      = @organization.name

.sign-up-form.uk-container-center.uk-width-large-1-3.uk-width-medium-1-2
  .uk-grid.uk-grid-divider.uk-container-center{'data-uk-grid-match' => true}

    .uk-width-medium-1-2.uk-width-large-1-2.uk-width-small-2-3
      .description
        = @organization.description

    .uk-width-medium-1-2.uk-width-large-1-2.uk-width-small-2-3
      = form_tag organization_join_path, class: 'uk-form uk-form-stacked' do
        .error
          = @error
        - if current_user.present? && !@view_only
          .uk-form-row
            = submit_tag 'Join this organization', class: 'uk-button uk-button-primary uk-button-large sign-in-button'

          .footnote
            You're signed in as
            = current_user.email_address
            %div
              = link_to 'Sign in as a different user', sign_out_path(r: sign_in_path)
        - else
          .uk-form-row
            %label.uk-form-label
              Your name:
            .uk-form-controls
              = text_field_tag 'sign_up[name]', '', placeholder: 'Jessie Smith', required: true, disabled: @view_only
          .uk-form-row
            %label.uk-form-label
              Your email address:
            .uk-form-controls
              = text_field_tag 'sign_up[email_address]', '', placeholder: 'jessie@example.com', type: 'email', required: true, disabled: @view_only
          .uk-form-row
            = submit_tag 'Sign up', class: 'uk-button uk-button-primary uk-button-large sign-in-button', disabled: @view_only
