!!!
%html
  %head
    %title Javascript Tests
    = csrf_meta_tags

    :javascript
      ENV={application_js_url: #{asset_url('application.js').inspect}};
      fixtures = #{@fixtures.to_json};

    = stylesheet_link_tag 'application', :media => "all"
    = stylesheet_link_tag 'specs', :media => "all"
    = javascript_include_tag 'init'
    = javascript_include_tag 'specs'
    - @specs.each do |spec|
      = javascript_include_tag "#{spec}_spec"

  %body
    .page
