!!!
%html
  %head
    %title Javascript Tests
    = stylesheet_link_tag 'test/javascripts', :media => "all"
    = javascript_include_tag 'test/javascripts'
    - @specs.each do |spec|
      = javascript_include_tag "#{spec}_spec"

    = csrf_meta_tags

    :javascript
      fixtures = #{@fixtures.to_json}

  %body
    #body
