.profile-edit.page-column
  .top-box
    Welcome to
    = @organization.name
  %section.uk-width-3-4.uk-container-center
    .well-when-not-small
      = simple_form_for @user, url: setup_users_path, html: {class: 'uk-form uk-form-stacked'} do |f|
        = hidden_field_tag :token, @user_setup_token
        %section.details
          - if @was_confirmed
            %p
              Your membership in
              = @organization.name
              has been confirmed. You'll receive messages at the address shown below.
            %p
              If you'd like, you can create a password to access the Threadable web features. This isn't required,
              but it sure is useful! Just enter a new password below to get started:
          - else
            %p
              Your membership in
              = @organization.name
              was already confirmed.
            %p
              If you'd like, you can create a password to access the Threadable web features. This isn't required,
              but it sure is useful! Just enter a new password below to get started:
        .uk-grid.uk-grid-small.heading
          .uk-width-small-3-3.uk-container-center.section-title
            Setup your Threadable account
        %section.organization
          .uk-form-row
            %label.uk-form-label Your email address
            = f.input :email_address,         as: :string,   disabled: true, placeholder: 'Email Address', input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
          .uk-form-row
            %label.uk-form-label Your name
            = f.input :name,                  as: :string,                   placeholder: 'Name',          input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
          .uk-form-row
            %label.uk-form-label Password
            = f.input :password,              as: :password, required: true, placeholder: '*****',         input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
          .uk-form-row
            %label.uk-form-label Password confirmation
            = f.input :password_confirmation, as: :password, required: true, placeholder: '*****',         input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
          .uk-form-row
            = f.submit 'Create', class: 'uk-button uk-button-primary uk-button-large sign-in-button'
