.uk-container-center.uk-width-large-1-3.uk-width-medium-1-2
  %h2 Threadable
  .well-when-not-small
    - if @was_confirmed
      %p
        Your membership in
        = @organization.name
        has been confirmed. You'll receive messages at the address shown below.
      %p
        If you want, you can create a password to access the Threadable web features. This isn't required,
        but it sure is useful! Just enter a new password below to get started:
    - else
      %h1 You're almost in!

    = simple_form_for @user, url: setup_users_path, html: {class: 'uk-form uk-form-stacked'} do |f|
      = hidden_field_tag :token, @user_setup_token
      %fieldset
        .uk-form-row
          = f.input :email_address, as: :string, disabled: true, placeholder: 'Email Address', input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.input :name, as: :string, placeholder: 'Name', input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.input :password, required: true, placeholder: 'Password', input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.input :password_confirmation, required: true, placeholder: 'Password confirmation', input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.submit 'Setup my account', class: 'uk-button'
