.conversation-event.row-fluid
  - case locals[:type]

  - when 'calendar'
    %span.conversation-event-person
      = locals[:sender]
    scheduled an event for this task
    %a
      %i.icon-calendar
      January 5, 2013

  - when 'new_task'
    %span.conversation-event-person
      = locals[:sender]
    created a new task
    %a
      %i.icon-ok
      = locals[:task_name]

  - when 'add_doer'
    %i.icon-bolt
    %span.conversation-event-person
      = locals[:sender]
    added themselves as a doer

  - when 'linked_task_done'
    The linked task
    %a
      %i.icon-ok
      = locals[:task_name]
    was completed

  - when 'new_task_from_conversation'
    %span.conversation-event-person
      = locals[:sender]
    created this task from
    %a
      %i.icon-comments-alt
      = locals[:conversation_name]

  - when 'invite_person'
    %span.conversation-event-person
      = locals[:sender]
    invited
    %span.conversation-event-person
      = locals[:invitee]
    to this task.

  - when 'task_done'
    %i.icon-ok.finished-check
    %span.conversation-event-person
      = locals[:sender]
    marked this task as complete!

  %span.pull-right
    = locals[:date]
