%ul
  %li
    = link_to 'Debug', admin_debug_path
  %li
    = link_to 'Users', admin_users_path
  %li
    = link_to 'Organizations', admin_organizations_path
  %li
    = link_to 'Background jobs', '/admin/background_jobs'
  %li
    = link_to 'Mail previews', '/admin/mail_preview'
  %li
    = link_to 'Incoming emails', admin_incoming_emails_path
  %li
    = link_to 'Outgoing emails', admin_outgoing_emails_path
