<div class="task-controls">
  <div class="uk-float-left">

    {{#link-to 'doing_tasks' class="doing-tasks icon-with-text"}}
      <i class="uk-icon-th-large"></i>
      <span>My Tasks</span>
    {{/link-to}}
    {{#link-to 'tasks' class="tasks icon-with-text"}}
      <i class="uk-icon-th"></i>
      <span>All Tasks</span>
    {{/link-to}}
  </div>
  <div class="uk-float-right">
    <a href="" {{action 'toggleDone'}} {{bind-attr class=":toggle-done :icon-with-text"}}>
      {{#if showingDone}}
        <i class="uk-icon-check-circle"></i>
        <span class="hide">Hide Done</span>
      {{else}}
        <i class="uk-icon-check-circle-o"}}></i>
        <span class="show">Show Done</span>
      {{/if}}
    </a>
    <a href="" {{action 'togglePrioritizing'}} {{bind-attr class=":prioritize :icon-with-text"}}>
      {{#if prioritizing}}
        <i class="uk-icon-list"></i>
        <span>List</span>
      {{else}}
        <i class="uk-icon-sort-amount-desc"></i>
        <span>Prioritize</span>
      {{/if}}
    </a>
  </div>
</div>
