<li class="task" {{bind-attr draggable=draggable}} data-task-id="{{unbound task.id}}">
  {{#if prioritizing}}
    <div>
      <i class="uk-icon-bars burger"></i>
      {{partial 'tasks/list/member/details'}}
    </div>

  {{else}}

    {{#link-to conversationRoute organizationSlug groupSlug task.slug class="not-link"}}

      <i class="uk-icon-chevron-right arrow"></i>
      {{partial 'tasks/list/member/details'}}

    {{/link-to}}

  {{/if}}

</li>
