<li class="conversation">
  {{#link-to conversationRoute organizationSlug groupSlug conversation.slug class="not-link"}}

    <section class="icon">
      {{#if conversation.task}}
        <i class="uk-icon-check"><span class="sr-only">Task</span></i>
      {{else}}
        <i class="uk-icon-comment-o"><span class="sr-only">Conversation</span></i>
      {{/if}}
    </section>

    <section class="line line-1">
      <span class="updated-at uk-float-right">{{date conversation.lastMessageAt}}</span>
      <span class="uk-float-left">
        <span class="participant-names">{{conversation.participantNamesString}}</span>
        <span class="number-of-messages">({{conversation.numberOfMessages}})</span>
      </span>
    </section>

    <section class="line line-2">
      <span class="subject">{{conversation.subject}}</span>
    </section>

    <section class="line line-3">
      <span class="groups">
        {{#each group in conversation.groups}}
          <span class="badge badge-small" {{bind-attr style="group.badgeStyle"}}>{{group.name}}</span>
        {{/each}}
        {{#if conversation.hasAdditionalPrivateGroups}}
          <span class="badge badge-small badge-private">
            +{{conversation.additionalPrivateGroupsCount}}
            <i class="uk-icon-lock"><span class="sr-only">private</span></i>
          </span>
        {{/if}}
        <i class="uk-icon-chevron-right arrow"></i>
      </span>
      {{#if conversation.messageSummary}}
        <span class="message-summary">
          {{conversation.messageSummary}}
        </span>
      {{else}}
        <span class="message-summary no-message-summary">
          no messages
        </span>
      {{/if}}
    </section>

  {{/link-to}}
</li>
