%h1 You're almost in!


= simple_form_for @user do |f|
  = hidden_field_tag :token, @user_setup_token

  = @user.email
  = f.input :name, as: :string
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  = f.submit 'Setup my account'
