WTFPANDA!

%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Done:
  = @task.done
%p
  %b Due At:
  = @task.due_at

= link_to 'Edit', edit_project_task_path(@task.project.slug, @task.slug)
\|
= link_to 'Back', project_tasks_path(@task.project.slug)


%h3 Add A Doer
= form_for Struct.new(:email).new, :as => :doer, :url => new_project_task_path, :method => :put do |f|
  .field
    = f.label :Email
    = f.text_field :email
  .actions
    = f.submit 'Save'
