%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Done:
  = @task.done
%p
  %b Due At:
  = @task.due_at

= link_to 'Edit', edit_project_task_path(@task.project.slug, @task.slug)
\|
= link_to 'Back', project_tasks_path(@task.project.slug)
