%h1 Incoming emails page #{@page}

%form.filters{onchange:'submit()'}
  %select{name:'filter'}
    %option{value:'all',                selected: @filter == 'all' || @filter.nil? } All
    %option{value:'not-processed',      selected: @filter == 'not-processed'       } Not processed
    %option{value:'processed',          selected: @filter == 'processed'           } processed

%table.table.table-nowrap.incoming-emails-table
  %thead
    %tr
      %th Processed
      %th Held
      %th Id
      %th Created at
      %th Recipient
      %th Sender
      %th From
      %th Subject
      %th Creator
      %th Organization
      %th Conversation
      %th Message
  %tbody
    - @incoming_emails.each do |incoming_email|
      %tr{class: "#{incoming_email.processed? ? 'processed' : 'not-processed'}"}
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = incoming_email.processed? ? 'yes' : 'no'
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = incoming_email.processed? ? incoming_email.held? ? 'yes' : 'no' : ''
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.id
        %td{title: incoming_email.created_at.to_s}
          = link_to admin_incoming_email_path(incoming_email) do
            #{time_ago_in_words incoming_email.created_at} ago
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.recipient
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.sender
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.from
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.subject
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.incoming_email_record.creator_id
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.incoming_email_record.organization_id
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.incoming_email_record.conversation_id
        %td
          = link_to admin_incoming_email_path(incoming_email) do
            = truncated_text incoming_email.incoming_email_record.message_id

.pagination
  - if @page > 0
    = link_to 'last page', admin_incoming_emails_path(filter: @filter, page: @page-1)
  .pull-right
    = link_to 'next page', admin_incoming_emails_path(filter: @filter, page: @page+1)
