<li class="group" data-group-id="{{unbound group.id}}">
  {{#link-to 'conversations' group.slug classNames="group-row"}}
    <span class="badge" {{bind-attr style="group.badgeStyle"}}>{{group.conversationsCount}}</span>
    <span class="name">{{group.name}}</span><br/>
    {{#if group.description}}
      <span class="description">{{group.description}}</span>
    {{/if}}
  {{/link-to}}
  <a href="" {{bind-attr class=":disclosure-triangle group.description:with-description"}}>
    <i class="caret uk-icon-caret-right"></i>
    <span class="sr-only">Group Options</span>
  </a>
  <div class="group-controls">
    <ul class="nested">
      <li>
        {{#link-to 'group_members' group.slug}}
          <i class="uk-icon-users"></i>
          Members
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'group_settings' group.slug}}
          <i class="uk-icon-gear"></i>
          Settings
        {{/link-to}}
      </li>
      <li>
        {{#if group.currentUserIsAMember}}
          <a href="" {{action leaveGroup group}}>
            <i class="uk-icon-sign-out"></i>
            Leave Group
          </a>
        {{else}}
          <a href="" {{action joinGroup group}}>
            <i class="uk-icon-sign-in"></i>
            Join Group
          </a>
        {{/if}}
      </li>
    </ul>
  </div>
</li>
