<li class="group" data-group-id="{{unbound group.id}}">
  {{#link-to 'conversations' group.slug classNames="group-row"}}
    <span class="badge" {{bind-attr style="group.badgeStyle"}}>{{group.conversationsCount}}</span>
    <span class="name">
      {{group.name}}
      {{#if group.private}}
        <i class="uk-icon-lock"><span class="sr-only">private</span></i>
      {{/if}}
    </span><br/>
    {{#if group.description}}
      <span class="description">{{group.description}}</span>
    {{/if}}
  {{/link-to}}
  <a href="" {{bind-attr class=":disclosure-triangle group.description:with-description"}}>
    <i class="caret uk-icon-caret-right"></i>
    <span class="sr-only">Group Options</span>
  </a>
  <div {{bind-attr class=":group-controls group.canChangeSettings:with-settings group.currentUserIsAMember:member"}}>
    <ul class="nested">
      <li>
        {{#link-to 'group_members' group.slug}}
          <i class="uk-icon-users"></i>
          Members
        {{/link-to}}
      </li>

      {{#if group.currentUserIsAMember}}
        <li>
          {{#link-to 'group_delivery_options' group.slug}}
            <i class="uk-icon-envelope"></i>
            Email Delivery
          {{/link-to}}
        </li>
      {{/if}}

      {{#if group.canChangeSettings}}
        <li>
          {{#link-to 'group_settings' group.slug}}
            <i class="uk-icon-gear"></i>
            Group Settings
          {{/link-to}}
        </li>
      {{/if}}

      <li>
        {{#if group.currentUserIsAMember}}
          <a href="" {{action 'leaveGroup' group}}>
            <i class="uk-icon-sign-out"></i>
            Leave Group
          </a>
        {{else}}
          <a href="" {{action 'joinGroup' group}}>
            <i class="uk-icon-sign-in"></i>
            Join Group
          </a>
        {{/if}}
      </li>
    </ul>
  </div>
</li>
