%h2 Conversations

%table.conversations
  %tbody
    - conversations.each do |conversation|
      %tr.conversation{"data-conversation-id" => conversation.id}
        %td.participants
          %span.names
            - participants_or_creator(conversation).each do |participant|
              %span= participant.name.split(/\s+/).first
          %span.count= "(#{conversation.messages.count})" if conversation.messages.count > 1
        %td.subject
          = link_to conversation.subject, project_conversation_path(project, conversation)
        %td.datetime
          = humanize_time(conversation.updated_at)
