%h2
  Conversations
  = link_to "", new_project_conversation_url, class: 'icon-edit btn btn-primary'
%ul
  - conversations.each do |conversation|
    %li
      = link_to project_conversation_path(conversation.project, conversation) do
        (#{conversation.messages.count}) #{conversation.subject}
    -#
      %ul
        - conversation.messages.each do |message|
          %li
            = message.body
