%ol
  - items.each do |type, item|
    - case type
    - when :message
      %li.message
        = render_widget(:message, item)
    - when :event
      - user = capture do
        %strong= item.user.name

      %li.event
        %span
          - case item.type
          - when :conversation_created_event
            #{user} started this conversation
          - when :task_created_event
            #{user} created this task
          - when :task_done_event
            %i.icon-ok.finished-check
            #{user} marked this task as done
          - when :task_undone_event
            %i.icon-ok.unfinished-check
            #{user} marked this task as not done
          - else
            - raise "unknown type #{item.type.inspect}"

        %span.pull-right
          = timeago item.created_at

= render_widget :new_conversation_message, conversation, from: from
