%ol
  - items.each do |type, item|
    - case type
    - when :message
      %li.with_message
        = render_widget(:message, item)
    - when :event
      %li.with_event
        %span.event
          - case item.type
          - when 'Covered::Conversation::CreatedEvent'
            #{strong(item.user.name)} started this conversation
          - when 'Covered::Task::CreatedEvent'
            #{strong(item.user.name)} created this task
          - when 'Covered::Task::DoneEvent'
            %i.icon-ok.finished-check
            #{strong(item.user.name)} marked this task as done
          - when 'Covered::Task::UndoneEvent'
            %i.icon-ok.unfinished-check
            #{strong(item.user.name)} marked this task as not done
          - when 'Covered::Task::AddedDoerEvent'
            #{strong(item.user.name)} added #{strong(item.doer.name)} as a doer
          - when 'Covered::Task::RemovedDoerEvent'
            #{strong(item.user.name)} removed #{strong(item.doer.name)} as a doer
          - else
            - raise "unknown type #{item.type.inspect}"

          %span.pull-right
            = timeago item.created_at

= render_widget :new_conversation_message, conversation, from: from
