.pull-right
  = link_to "Start a new conversation", new_project_conversation_url
%h2 Conversations
%ul
  - conversations.each do |conversation|
    %li
      = link_to project_conversation_path(conversation.project, conversation) do
        (#{conversation.messages.count}) #{conversation.subject}
    -#
      %ul
        - conversation.messages.each do |message|
          %li
            = message.body
