.pull-right.mute-controls.btn-group{'data-toggle' => "buttons-radio"}
  %button.btn.btn-mini.not_muted_conversations.active Not Muted
  %button.btn.btn-mini.muted_conversations Muted

%h2
  Conversations

  - held_messages_count = organization.held_messages.count
  - if held_messages_count > 0
    %a{href: organization_held_messages_path(organization), role: "button", class: "btn btn-text-thin"}
      = pluralize held_messages_count, 'held message'

- render_conversations_table = -> conversations do
  - conversations.each do |conversation|
    %tr.conversation{"data-conversation-id" => conversation.id}
      %td.participants
        %span.names
          - conversation.participant_names.each do |name|
            %span= name
        %span.count= "(#{conversation.messages_count})" if conversation.messages_count > 1
      %td.subject
        = link_to conversation.subject, organization_conversation_path(organization, conversation)
      %td.datetime
        = humanize_time(conversation.updated_at)


%table.conversations.not_muted
  %tbody
    - render_conversations_table.call(not_muted_conversations)

%table.conversations.muted
  %tbody
    - render_conversations_table.call(muted_conversations)
