= form_for :member, url: project_members_url(project), remote: true, :html => {class: 'form-horizontal', :'data-type' => 'json'} do |f|
  .modal-header
    %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    %h3 Add a member

  .modal-body
    .flash_messages
    %label.control-group
      .control-label Name
      .controls
        = f.text_field :name, placeholder: 'Name', required: true

    %label.control-group
      .control-label Email
      .controls
        = f.text_field :email_address, placeholder: 'Email', type: 'email', required: true

    %label.control-group
      .control-label Message
      .controls
        = f.text_area :message, class: 'custom-message', cols: nil, rows: nil, placeholder: "Hey!", value: ""

        %p
          You've been added to the #{project.name} project on Covered!

        %p
          Covered is a magical mailing list that helps you and your friends get more done.
          It works just like any mailing list you've ever used, but has awesome features
          to help you organize!

  .modal-footer
    = f.submit 'Add member', class: 'btn btn-primary'
