.message-head
  - if message.user.present?
    = image_tag(message.user.avatar_url, :class => 'avatar-small', alt: message.user.name)
    %strong
      = message.user.name
  - else
    %strong
      = message.from
  %span.pull-right
    = timeago message.created_at
.message-text
  = message.body
