.message-head
  - if message.creator.present?
    = image_tag(message.creator.avatar_url, :class => 'avatar-small', alt: message.creator.name)
    %strong
      = message.creator.name
  - else
    %strong
      = message.from
  %span.pull-right
    = timeago message.created_at

.message-body
  - if message.stripped_body.present?
    - if message.stripped_body.html?
      .message-text.html<= message.stripped_body
    - else
      .message-text.plain<= htmlify message.stripped_body

    - if message.body.html?
      .message-text-full.html<= message.body
    - else
      .message-text-full.plain<= htmlify message.body
    %button.btn.btn-small.show-quoted-text{:alt => "show quoted text"} &middot; &middot; &middot;
  - else
    - if message.body.html?
      .message-text.html<= message.body
    - else
      .message-text.plain<= htmlify message.body

.message-attachments
  - message.attachments.all.each do |attachment|
    = render_widget :attachment_preview, attachment

.message-actions

  = presenter.link_to_toggle(:shareworthy) do
    %i.icon-bullhorn
    shareworthy
  = presenter.link_to_toggle(:knowledge) do
    %i.icon-book
    knowledge
