.message-head
  - if message.user.present?
    = image_tag(message.user.avatar_url, :class => 'avatar-small', alt: message.user.name)
    %strong
      = message.user.name
  - else
    %strong
      = message.from
  %span.pull-right
    = timeago message.created_at

.message-body
  .message-text<= message.html? ? stripped_html.html_safe : stripped_plain
  - if hide_quoted_text
    .message-text-full<= message.html? ? body_html.html_safe : body_plain
    %button.btn.btn-small.show-quoted-text{:alt => "show quoted text"} &middot; &middot; &middot;

.message-actions

  = presenter.link_to_toggle(:shareworthy) do
    %i.icon-bullhorn
    shareworthy
  = presenter.link_to_toggle(:knowledge) do
    %i.icon-book
    knowledge
