.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    = link_to "Multify", (@project.present? && @project.persisted?) ? project_conversations_url(@project) : root_url, class: 'brand'

    - if user.present?
      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle#account-menu{"data-toggle" => "dropdown", :href => ""}
            - unless @project.present?
              = 'Projects'
            - else
              = @project[:name]
          %ul.dropdown-menu
            - user.projects.each do |project|
              - if project.persisted?
                %li= link_to project[:name], project_conversations_url(project)


        %li= link_to user.name || 'unknown', user_url(user)
        %li= link_to 'Logout', destroy_user_session_url, :method => :delete


    - else
      %ul.nav.pull-right
        %li= link_to 'Login', new_user_session_url


