%input.state{type:"hidden", value:""}

.sign-in-form
  %h2 Sign in
  .flash_messages
  = simple_form_for authentication, url: sign_in_path, remote: true, html: {:'data-type' => 'json'} do |f|
    = f.input :email, :autofocus => authentication.email.blank?
    = f.input :password, :autofocus => authentication.email.present?
    = f.input :remember_me, :as => :boolean, label_html:{style:'display: inline'}
    = f.button :submit, "Sign in", class: 'btn'
  - if signup_enabled?
    %div= link_to "Sign up", sign_up_path
  %div= link_to "Forgot password", "", class: 'recover-password'
  %div= link_to "Don't have a password yet?", "", class: 'recover-password'

.recover-password-form
  %h2 Recover password
  .flash_messages
  = simple_form_for password_recovery, url: request_reset_password_link_path, remote: true, html: {:'data-type' => 'json'} do |f|
    = f.input :email, :required => false, :autofocus => true
    = f.button :submit, "Recover", class: 'btn'
  - if signup_enabled?
    %div= link_to "Sign up", sign_up_path
  %div= link_to "Sign in", "", class: 'sign-in'

.done
  %h1 Thanks!
  %h4.message
  %input.message-store{type:"hidden", value:""}
