%h2 Sign in
.flash_messages
= simple_form_for(user, form_options) do |f|
  = f.input :email, :required => false, :autofocus => true
  = f.input :password, :required => false
  = f.input :remember_me, :as => :boolean, label_html:{style:'display: inline'}
  %br/
  = f.button :submit, "Sign in", class: 'btn'
%div= link_to "Sign up", new_registration_path(:user)
%div= link_to "Forgot your password?", new_password_path(:user)
%div= link_to "Didn't receive confirmation instructions?", new_confirmation_path(:user)

