.clearfix
  .pull-right.btn-group{'data-toggle' => "buttons-radio"}
    - if conversations
      %button.btn.btn-mini.conversations Conversations
    %button.btn.btn-mini.all_tasks All Tasks
    %button.btn.btn-mini.my_tasks My Tasks
  - if with_title
    %h2 Tasks

.form
  %form.input-append{action: organization_tasks_path(organization)}
    .input
      %input{type: "text", name: "subject", placeholder: "new task..."}
    %button.btn{disabled: true}
      %i.icon-plus

- if conversations
  %ul.conversations
    - conversations.each do |conversation|
      - next if conversation.new_record?
      %li.conversation.clearfix{title: conversation.subject, "data-conversation-id" => conversation.id}
        = link_to organization_conversation_url(conversation.organization, conversation) do
          - if conversation.task?
            %i.icon-ok{ class: conversation.done? ? 'finished-check' : 'unfinished-check' }
          - else
            %i.icon-comment-alt.read-message
          %span= conversation.subject

.all_tasks
  .not_done
    %h5 Not Done
    = render_widget :task_list, not_done_tasks, class: 'sortable'

  .done
    %h5 Done
    = render_widget :task_list, done_tasks

.my_tasks
  .not_done
    %h5 Not Done
    = render_widget :task_list, my_not_done_tasks, class: 'sortable'

  .done
    %h5 Done
    = render_widget :task_list, my_done_tasks
