= simple_form_for [:admin, @project] do |f|
  = f.error_notification

  .inputs
    = f.input :name, required: true, autofocus: true
    = f.input :subject_tag, required: false
    = f.input :slug, required: false
    = f.input :email_address_username, as: :string, required: false
    - unless @project.persisted?
      = f.input :add_current_user_as_a_member, as: :boolean, input_html: {checked: false}, label: "Add #{current_user.name} as a member?"
  .actions
    = f.button :submit, class: 'btn btn-primary'
