.uk-container-center.uk-width-large-1-3.uk-width-medium-1-2.authentication-form
  %h2 Threadable
  .well-when-not-small
    - if @notice
      .uk-notify-message.uk-notify-message-success= @notice
    - if @success
      .uk-notify-message.uk-notify-message-success= @success
    - if @warning
      .uk-notify-message.uk-notify-message-warning= @warning

    = simple_form_for @authentication, url: sign_in_path, html: {class: 'sign-in-form uk-form uk-form-stacked'} do |f|
      %fieldset
        %input{type: 'hidden', name: 'r', value: params[:r]}
        .uk-form-row
          = f.input :email_address, placeholder: 'Email Address', autofocus: @authentication.email_address.blank?,   input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.input :password,      placeholder: 'Password',      autofocus: @authentication.email_address.present?, input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.input :remember_me, :as => :boolean, label_html:{style:'display: inline'}
        .uk-form-row
          .uk-float-right
            %div
              %a.forgot-password-link{href:""} No password yet?
            %div
              %a.forgot-password-link{href:""} Forgot Password?

          = f.submit 'Sign in', class: 'uk-button uk-button-primary uk-button-large sign-in-button'
          %a.uk-button.uk-button-large{href: '/'}
            Sign up

    = simple_form_for @password_recovery, url: recover_password_path, html: {class: 'recorver-password-form uk-form uk-form-stacked', style:'display: none;'} do |f|
      %fieldset
        %input{type: 'hidden', name: 'r', value: params[:r]}
        .uk-form-row
          = f.input :email_address, placeholder: 'Email Address', autofocus: true, input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          .uk-float-right
            %div &nbsp;
            %div
              %a.sign-in-link{href:""} Sign In

          = f.submit 'Recover Password', class: 'uk-button uk-button-primary uk-button-large sign-in-button'

:javascript
  #{ render 'show.js' }
