.uk-container-center.uk-width-large-1-3.uk-width-medium-1-2
  .well-when-not-small
    .uk-clearfix
      .uk-float-left
        .avatar{style: "margin-right: 1em"}
          = image_tag @email_action.user.avatar_url
      .uk-float-left
        %h2 Hey #{@email_action.user.name}
        %div #{@email_action.user.email_address}

  .well-when-not-small
    %p
      #{@email_action.success_description}

    - if @email_action.opposite_type
      %p
        If you did this by accident, you can undo it:
      %p
        - undo_url = email_action_url(token: EmailActionToken.encrypt(@email_action.record_id, @email_action.user.id, @email_action.opposite_type))
        %a.uk-button.uk-button-primary.uk-button-large.undo-button{href:undo_url}
          - case @email_action.type
            - when 'done'
              Mark #{@email_action.record.subject.inspect} as not done
            - when 'undone'
              Mark #{@email_action.record.subject.inspect} as done
            - when 'mute'
              Unmute #{@email_action.record.subject.inspect}
            - when 'unmute'
              Mute #{@email_action.record.subject.inspect}
            - when 'add'
              Remove yourself as a doer of #{@email_action.record.subject.inspect}
            - when 'remove'
              Add yourself as a doer of #{@email_action.record.subject.inspect}
            - when 'join'
              Leave #{@email_action.record.name.inspect}
            - when 'leave'
              Rejoin #{@email_action.record.name.inspect}
