%blockquote.top-header
  %p
    Conversations
    %i.icon-envelope-alt.top-icon
%table.table.table-condensed.table-hover
  %tbody
    - message_list.each do |task, new_messages, thread_length, date, senders, finished, is_task|
      %tr
        %td.b.span4
          = senders
          - if thread_length > 1
            = "(#{thread_length})"
        %td.span7
          - if new_messages > 0
            %strong
              %a{href: "/tasks/layup-body-carbon"}
                = task
          - else
            = task
        %td.span1
          - if new_messages > 0
            %strong.pull-right
              = date
          - else
            .pull-right
              = date

