<div class="conversations-list">
  <div class="scrollable">
    <ol class="uk-list">
      {{#each conversation in controller}}
        {{partial 'conversations/list/member'}}
      {{else}}
        {{#unless loading}}
          <li class="empty-list"><h4>No Conversations</h4></li>
        {{/unless}}
      {{/each}}
    </ol>
    {{#if loading}}
      {{partial 'lines_spinner'}}
    {{else}}
      {{#unless fullyLoaded}}
        <a href="" class="load-more-button" {{action loadMore}}>Load More</a>
      {{/unless}}
    {{/if}}
  </div>
  {{partial 'conversations/list/controls'}}
</div>
