<div class="conversations-list">
  <div {{bind-attr class=":scrollable isTrash:trash:"}}>
    <ol class="uk-list">
      {{#if isTrash}}
        <li class="warning">
          <i class="uk-icon-warning"></i>
          <div>
            Items in the trash will be removed permanently after 30 days.
          </div>
        </li>
      {{/if}}

      {{#each conversation in filteredContent itemController="conversations_item"}}
        {{partial 'conversations/list/member'}}
      {{else}}
        {{#unless loading}}
          {{partial 'conversations/list/empty'}}
        {{/unless}}
      {{/each}}
    </ol>
    {{#if loading}}
      {{partial 'lines_spinner'}}
    {{else}}
      {{#unless fullyLoaded}}
        {{partial "load_more"}}
      {{/unless}}
    {{/if}}
  </div>

  {{#if isTrash}}
  {{else}}
    {{partial 'conversations/list/controls'}}
  {{/if}}
</div>
