= simple_form_for [:admin, @organization] do |f|
  = f.error_notification

  .inputs
    = f.input :name, required: true, autofocus: true
    = f.input :subject_tag, required: false
    = f.input :slug, required: false
    = f.input :email_address_username, as: :string, required: false
    = f.input :description, as: :string, required: false
    = f.input :plan, as: :select, collection: Organization::PLANS, include_blank: false
    = f.input :trusted?, as: :boolean, label: "Trusted organization"
    = f.input :hold_all_messages?, as: :boolean, label: "Holds all messages"
    = f.input :public_signup?, as: :boolean, label: "Public signup"
    - unless @organization.persisted?
      = f.input :add_current_user_as_a_member, as: :boolean, input_html: {checked: false}, label: "Add #{current_user.name} as a member?"
  .actions
    = f.button :submit, class: 'btn btn-primary'
