%h1 Edit organization

.edit-organization-form
  = render 'form'

%h1 Organization members

%table.members.table.table-bordered
  %thead
    %tr
      %th Name
      %th Email sddress
      %th Gets email?
      %th Confirmed?
      %th Role
      %th Actions
  %tbody
    - if @members.present?
      - @members.each do |member|
        %tr
          %td
            = link_to member.name, admin_edit_user_path(member)
          %td= member.email_address
          %td= member.gets_email? ? 'yes' : 'no'
          %td= member.confirmed? ? 'yes' : 'no'
          %td= member.role
          %td
            = link_to 'edit user', admin_edit_user_path(member)
            \|
            = link_to 'edit member', admin_edit_organization_member_path(@organization, member)
            \|
            = link_to 'remove', admin_remove_organization_member_path(@organization, member), :method => :delete, :data => { :confirm => 'Are you sure?' }


    - else
      %tr
        %td{colspan: 2} This organization has no members.

- option_inputs = capture do
  %label
    %input{type: 'hidden', name:'user[gets_email]', value: "false"}
    %input{type: 'checkbox', name:'user[gets_email]', checked: true, value: "true"}
    Gets email?
  %label
    %input{type: 'hidden', name:'user[send_join_notice]', value: "false"}
    %input{type: 'checkbox', name:'user[send_join_notice]', checked: true, value: "true"}
    Send join notice?

/ This is causing serious slowitude by loading every fucking member, now that we have 1300+
/ .add-existing-member-form
/   %h3 Add existing member
/   = form_tag admin_add_organization_member_path(@organization) do
/     .inputs
/       %label
/         Personal Message (trusted orgs only):
/       %label
/         = text_area_tag :personal_message, '', style: 'height: 5em; width: 20em'
/       %label
/         %select{name: 'user[id]'}
/           %option{selected: true}
/           - @all_users.sort_by(&:name).each do |user|
/             - next if @members.map(&:id).include? user.id
/             %option{value: user.id}= user.formatted_email_address
/       = option_inputs
/     .actions
/       %input{type: 'submit', value: 'Add Member', class: 'btn btn-primary'}


.add-new-member-form
  %h3 Add new member
  = simple_form_for [:admin, @organization.members.new], url: admin_add_organization_member_path(@organization) do |f|
    = f.error_notification
    .inputs
      %label
        Personal Message (trusted orgs only):
      %label
        = text_area_tag :personal_message, '', style: 'height: 5em; width: 20em'

      = f.input :name, required: true
      = f.input :email_address, as: :string, required: true
      = option_inputs
    .actions
      = f.button :submit, value: 'Add Member', class: 'btn btn-primary'

%section
  %h3 Add new members via CSV
  = form_tag admin_add_organization_member_path(@organization) do
    %label
      %label
        Personal Message (trusted orgs only):
      %label
        = text_area_tag :personal_message, '', style: 'height: 5em; width: 20em'
      %label
        comma-separated addresses:
      %label
        = text_area_tag :members, '', style: 'height: 10em; width: 50em'
    %label
      %input{type: 'hidden', name:'send_join_notice', value: "false"}
      %input{type: 'checkbox', name:'send_join_notice', checked: true, value: "true"}
      Send join notice?
    %label
      %input{type: 'submit', value: 'Add Members', class: 'btn btn-primary'}
