%style{data: {immutable: true}}=Rails.application.assets['email_mobile.css']
- button_defaults = { border: '#cccccc', background: '#fcfcfc', text: '#1abc9c'}
%div.covered-content
  %div{:style => "display:none; display:none !important;"}
    = @message_summary
    = "##CovMid: #{@message.unique_id} ##"
  %table.covered-controls{:border => "0", :cellpadding => "0", :color => "dark grey", :width => "100%"}
    %tr
      %td
        %table.covered-button-table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "4"}
          %tr
            = email_button "New conversation", @new_conversation_url, class: 'compose-button'
            = email_button "New task",         @new_task_url,         class: 'compose-button'
            = email_button "View on Covered",  @message_url,          class: 'view-button'
            - # = email_button "Mute",             "#{@message_url}",                                  class: 'mute-button'

        %table.covered-button-table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "4"}
          - if @task
            %tr
              - if @task.doers.include? @recipient
                = email_button "Remove me", project_task_remove_me_url(@project, @task)
              - else
                = email_button "I'll do it!", project_task_ill_do_it_url(@project, @task)
              - if @task.done?
                = email_button "Mark as undone", project_task_mark_as_undone_url(@project, @task)
              - else
                = email_button "Mark as done", project_task_mark_as_done_url(@project, @task)
              %td

  %div{:style => "display:none; display:none !important;"}
    = "##CovMid: #{@message.unique_id} ##"
  %br

- if @message.body.html?
  = @message.body
- else
  .plain-text= @message.body

%div.covered-content
  %div{:style => "display:none; display:none !important;"}
    = "##CovMid: footer ##"

  %table.covered-details{:align => "left", :border => "0", :cellpadding => "2", :cellspacing => "0", :width => "100%"}
    %tr
      %td.covered-details-inner{:style => "color: #95A5A6; text-align: left;"}
        .covered-project{:style => "font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 12px"}
          = link_to @project.name, project_url(@project)
          |
          = mail_to @project.email_address, @project.email_address
        .covered-unsubscribe{:style => "font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 10px"}
          = "sent to #{mail_to @recipient.email_address, @recipient.email_address} | #{link_to 'unsubscribe', @unsubscribe_url} | #{mail_to @covered.support_email_address, 'feedback' }".html_safe

  %div{:style => "display:none; display:none !important;"}
    = "##CovMid: footer ##"
