- if @message.html?
  = @message.body_html.html_safe
- else
  .plain-text= @message.body_plain

%div.covered-content
  = image_tag '1x1.png', height: 0, width: 0
  .actions
    = link_to @project.email_address, project_url(@project), class: 'project'
    = link_to 'View on Covered', @message_url
    = mail_to @project.email_address, 'Start a new conversation'
    = mail_to @project.email_address, 'Start a new task', subject: "✔ "
  .footer
    #{link_to 'This message', @message_url} was sent to #{mail_to @recipient.email}.
    You are receiving this email because you are a member of the #{link_to @project.name, project_url(@project)} project.
    If you would prefer not to receive future communications from #{link_to 'Covered.io', root_url} you may #{link_to 'unsubscribe', @unsubscribe_url}.
