<div class="add-member scrollable">
  <div class="well-when-not-small">
    <form class="uk-form uk-form-horizontal" {{action 'addMember' on='submit'}}>

      <h2>Add a member</h2>
      {{#if error}}
        <h2>Error: {{error}}</h2>
      {{/if}}

      <div class="form-row">
        <label class="inline-label">
          <div class="label-text">Name:</div>
          <div class="label-input">{{input value=name class="uk-form-blank" name="name" autofocus="autofocus"}}</div>
        </label>
      </div>
      <div class="form-row">
        <label class="inline-label">
          <div class="label-text">Email:</div>
          <div class="label-input">{{input type="email" value=emailAddress class="uk-form-blank" name="emailAddress"}}</div>
        </label>
      </div>
      {{#if organization.trusted}}
        {{textarea value=personalMessage class="uk-form-blank body" name="personalMessage" placeholder="Message..."}}

        <div>
          <p>
            You've been added to the {{organization.name}} organization on Threadable!
          </p><p>
            Threadable is a communications platform that helps you and your friends get more done.
            It works just like any mailing list you've ever used, but has awesome features
            to help you organize!
          </p>
        </div>
      {{else}}
        <br/>
        <div>
          <h3>Your new member will receive this welcome message:</h3>
          <div class="well-when-not-small">
            <p>
              I've invited you to the {{organization.name}} organization on Threadable!
            </p><p>
              Threadable is a communications platform that helps us and our friends get more done.
              It works just like any mailing list you've ever used, but has awesome features
              to help you organize!
            </p>
            <p>
              In order to officially join this organization and start communicating, click here:
            </p>
            <p>
              [link]
            </p>
            <p>
              If you aren't into this, don't worry! We won't email you until you confirm. Let us know
              if this reached you in error, though: [link]
            </p>
          </div>
        </div>
        <br/>
      {{/if}}
      <div>
        <div class="uk-float-right">
          <input type="submit" class="uk-button uk-button-primary" value="Add member & send welcome message"></input>
        </div>
        <br>
        <br>
      </div>
    </form>
  </div>

  <div class="well-when-not-small auto-add-groups">
    <p class="title">
      New members are added to these groups:
    </p>
    <p class="badges">
      {{#each group in autoJoinGroups}}
        <span class="badge" {{bind-attr style="group.badgeStyle"}}>
          {{group.name}}
        </span>
      {{/each}}
    </p>
  </div>

</div>
