<div class="compose scrollable">
  <div class="well-when-not-small composition">
    <form class="uk-form-horizontal" {{action sendMessage on='submit'}}>

      <div class="uk-float-right hidden-on-small-screens">
        <div class="uk-button-group">
          <a href="" {{action composeTask}} {{bind-attr class=":nav-button :uk-button isTask:uk-active"}}>
            <i class="uk-icon-check"><span class="sr-only">New Task</span></i>
          </a>
          <a href="" {{action composeConversation}} {{bind-attr class=":nav-button :uk-button isTask::uk-active"}}>
            <i class="uk-icon-comment-o"><span class="sr-only">New Conversation</span></i>
          </a>
        </div>
      </div>

      <h2>
        {{#if isTask}}
          <i class="uk-icon-check"></i> New Task
        {{else}}
          <i class="uk-icon-comment-o"></i> New Conversation
        {{/if}}
      </h2>

      {{#if error}}
        <h2>Error: {{error}}</h2>
      {{/if}}

      <fieldset>
        <div class="form-row groups">
          <label>Groups:</label>
          {{#each group in groups}}
            <span class="badge" {{bind-attr style="group.badgeStyle"}}>
              +{{group.name}}
              <a href="" {{action removeGroup group}}><i class="uk-icon-times"><span class="sr-only">Remove</span></i></a>
            </span>
          {{else}}
            <span class="no-groups">ungrouped</span>
          {{/each}}
          {{group-selector groups=unselectedGroups target=controller}}
        </div>
        <div class="form-row">
          <label>
            Subject:
            {{input value=subject tabindex="1" class="uk-form-blank subject" name="subject" autofocus="autofocus" required="required"}}
          </label>
        </div>
        {{textarea value=body tabindex="2" class="uk-form-blank body" name="body"}}
        <div class="hidden-on-small-screens">
          <span class="uk-float-left">
            <a href="" class="uk-button" {{action 'reset'}}>
              <i class="uk-icon-trash-o"></i>
              Clear
            </a>
          </span>
          <span class="uk-float-right">
            <input type="submit" tabindex="3" class="uk-button uk-button-primary" value="Send" {{bind-attr disabled="disabled"}}></input>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>
