<div class="compose">
  <form class="uk-form-horizontal" {{action sendMessage on='submit'}}>

    <div class="controls uk-hidden-small">
      <div class="left-nav">
        {{#link-to 'conversations' currentOrganization.slug currentGroup.slug}}<button class="uk-button">Cancel</button>{{/link-to}}
      </div>

      <div class="right-nav">
        <div data-uk-button-radio class="uk-button-group">
          {{#link-to 'compose_task' currentOrganization.slug currentGroup.slug classNameBindings=":nav-button :uk-button composingTask:uk-active"}}
            <i class="uk-icon-check"></i>
          {{/link-to}}

          {{#link-to 'compose_conversation' currentOrganization.slug currentGroup.slug classNameBindings=":nav-button :uk-button composingConversation:uk-active"}}
            <i class="uk-icon-comment-o"></i>
          {{/link-to}}
        </div>

        <input type="submit" class="uk-button uk-button-primary" value="Send"></input>
      </div>
    </div>

    <fieldset>
      <div class="form-row">
        <label>Groups:</label> <span class="badge" {{bind-attr style="currentGroup.badgeStyle"}}>+{{currentGroup.name}}</span>
      </div>
      <div class="form-row">
        <label>Subject:</label> {{input value=subject classNameBindings=":uk-form-blank"}}
      </div>
      {{view Covered.ResizeableTextArea value=body classNameBindings=":uk-form-blank"}}
    </fieldset>
  </form>
</div>
