<div {{bind-attr class=":conversation-show :scrollable showDoerSelector:show-doer-selector"}}>

  <div>
    {{#each group in groups}}
      <span class="badge" {{bind-attr style="group.badgeStyle"}}>+{{group.name}}</span>
    {{/each}}

    <h2 class="subject">
      <span class="uk-hidden-small">
        {{#if task}}
          <i class="uk-icon-check"></i>
        {{else}}
          <i class="uk-icon-comment-o"></i>
        {{/if}}
      </span>
      {{subject}}
    </h2>

    {{#if task}}
      <div class="doers uk-clearfix">
        <a href="" class="label not-link" {{action toggleDoerSelector}}>
          <i class="caret-icon uk-icon-caret-right"></i>
          doers:
        </a>
        <span class="doer-avatars">
          {{#each doer in doers}}
            <span class="avatar avatar-small" data-uk-tooltip {{bind-attr title="doer.name"}}>
              <img {{bind-attr src="doer.avatarUrl"}} />
            </span>
          {{/each}}
        </span>
        {{outlet doerSelector}}
      </div>
    {{/if}}




    <div class="task-controls uk-hidden-small">
      {{#if task}}
        {{#if done}}
          <a href="" {{action 'toggleComplete'}}><i class="uk-icon-check-square"></i>mark as not done</a>
        {{else}}
          <a href="" {{action 'toggleComplete'}}><i class="uk-icon-check"></i>mark as done</a>
        {{/if}}
      {{/if}}

      <a class="uk-float-right" href="" {{action 'toggleMuted'}}>
        {{#if isMuted}}
          <i class="uk-icon-volume-down"></i>mute conversation
        {{else}}
          <i class="uk-icon-volume-up"></i>unmute conversation
        {{/if}}
      </a>
    </div>


    <ul class="messages">
      {{#each event in events}}
        {{#if event.display}}
          {{#if event.message}}
            {{view Covered.MessageView contextBinding='event.message'}}
          {{else}}
            {{view Covered.EventView contextBinding='event'}}
          {{/if}}
        {{/if}}
      {{/each}}
    </ul>

    {{outlet reply}}
  </div>
</div>
