<div {{bind-attr class=":wrapper mode taskMode showDone:show-done prioritizing:prioritizing view.noConversations:no-conversations"}}>
  <div class="controls">
    <a href="" {{bind-attr class=":icon-with-text"}}>
      <i class="uk-icon-comment-o"></i>
      <span>Conversations</span>
    </a>
    <a href="" {{action showTasks}} {{bind-attr class=":icon-with-text"}}>
      <i class="uk-icon-check"></i>
      <span>Tasks</span>
    </a>
    <a href="" {{bind-attr class=":icon-with-text"}}>
      <i class="uk-icon-volume-off"></i>
      <span>Muted</span>
    </a>
    <a href="" class="icon-with-text">
      <i class="uk-icon-search"></i>
      <span>Search</span>
    </a>
  </div>

  <div class="scrollable">
    <ol class="uk-list">
      {{#each conversation in view.conversations}}
        <li {{bind-attr class=":conversation conversation.isTask:task:not-task conversation.myTask:my-task:not-my-task conversation.isDone:done:not-done conversation.isMuted:muted:not-muted"}}>
          {{#if view.myConversations}}
            {{#link-to 'my_conversation' organization.slug conversation.slug}}
              {{view Covered.ConversationListMemberView contextBinding='conversation'}}
            {{/link-to}}
          {{/if}}
          {{#if view.ungroupedConversations}}
            {{#link-to 'ungrouped_conversation' organization.slug conversation.slug}}
              {{view Covered.ConversationListMemberView contextBinding='conversation'}}
            {{/link-to}}
          {{/if}}
          {{#if view.groupConversations}}
            {{#link-to 'group_conversation' organization.slug group.slug conversation.slug}}
              {{view Covered.ConversationListMemberView contextBinding='conversation'}}
            {{/link-to}}
          {{/if}}
        </li>
      {{/each}}
    </ol>
    <div class="empty-list-message">
      <h4>no conversations</h4>
    </div>
  </div>
</div>
