<div class="conversation">
  <div>
    {{#each group in groups}}
      <span class="badge" {{bind-attr style="group.badgeStyle"}}>+{{group.name}}</span>
    {{/each}}

    <h2 class="subject">{{subject}}</h2>
    <ul class="messages">
      {{#each message in messages}}
        {{view Covered.MessageView}}
      {{/each}}
    </ul>

    {{outlet reply}}
  </div>
</div>
