<div class="conversation">

  {{#each group in conversationGroups}}
    <span class="badge" {{bind-attr style="group.badgeStyle"}}>+{{group.name}}</span>
  {{/each}}

  <h2>{{subject}}</h2>
  <ul class="messages">
    {{#each message in messages}}
      <li class="message">
      {{date message.date_header}}

      {{message.from}}
      {{message.bodyStripped}}
      </li>
    {{/each}}
  </ul>
</div>
