<div class="conversation">
  <div>
    {{#each group in groups}}
      <span class="badge" {{bind-attr style="group.badgeStyle"}}>+{{group.name}}</span>
    {{/each}}

    <h2 class="subject">
      <span class="uk-hidden-small">
        {{#if task}}
          <i class="uk-icon-check"></i>
        {{else}}
          <i class="uk-icon-comment-o"></i>
        {{/if}}
      </span>
      {{subject}}
    </h2>
    <ul class="messages">
      {{#each event in events}}
        {{#if event.display}}
          {{#if event.message}}
            {{view Covered.MessageView contextBinding='event.message'}}
          {{else}}
            {{view Covered.EventView contextBinding='event'}}
          {{/if}}
        {{/if}}
      {{/each}}
    </ul>

    {{outlet reply}}
  </div>
</div>
