<div {{bind-attr class=":conversation-show :scrollable showDoerSelector:show-doer-selector"}}>
  <div class="padded">

    <div class="conversation-groups">
      {{#each group in groups}}
        <span class="badge" {{bind-attr style="group.badgeStyle"}}>
          {{group.name}}
          {{#if canRemoveGroups}}
            <a href="" {{action removeGroup group}}><i class="uk-icon-times"><span class="sr-only">Remove</span></i></a>
          {{/if}}
        </span>
      {{/each}}
      {{group-selector groups=unselectedGroups target=controller}}
    </div>

    <div class="convert-type-control uk-float-right">
      <div class="uk-button-group">
        <a href="" {{action convertToTask}} {{bind-attr class=":convert-to-task :uk-button isTask:uk-active"}}>
          <i class="uk-icon-check"><span class="sr-only">Convert to Task</span></i>
        </a>
        <a href="" {{action convertToConversation}} {{bind-attr class=":convert-to-conversation :uk-button isTask::uk-active"}}>
          <i class="uk-icon-comment-o"><span class="sr-only">Convert to Conversation</span></i>
        </a>
      </div>
    </div>

    <h2 class="subject">
      <span class="hidden-on-small-screens">
        {{#if task}}
          <i class="uk-icon-check"><span class="sr-only">Task</span></i>
        {{else}}
          <i class="uk-icon-comment-o"><span class="sr-only">Conversation</span></i>
        {{/if}}
      </span>
      {{subject}}
    </h2>

    {{#if task}}
      <div class="doers uk-clearfix">
        <a href="" class="label not-link" {{action toggleDoerSelector}}>
          <i class="caret-icon uk-icon-caret-right"><span class="sr-only">Show Doers</span></i>
          doers:
        </a>
        <span class="doer-avatars">
          {{#each doer in doers}}
            <span class="avatar avatar-small" data-uk-tooltip {{bind-attr title="doer.name"}}>
              <img {{bind-attr src="doer.avatarUrl"}} />
            </span>
          {{/each}}
        </span>
        {{outlet doerSelector}}
      </div>
    {{/if}}




    <div class="task-controls hidden-on-small-screens">
      {{#if task}}
        {{#if done}}
          <a class="uk-float-right" href="" {{action 'toggleComplete'}}><i class="uk-icon-check-square"></i> mark as not done</a>
        {{else}}
          <a class="uk-float-right" href="" {{action 'toggleComplete'}}><i class="uk-icon-check"></i> mark as done</a>
        {{/if}}
      {{/if}}

      <a href="" {{action 'toggleMuted'}}>
        {{#if isMuted}}
          <i class="uk-icon-volume-up"></i> unmute
        {{else}}
          <i class="uk-icon-volume-down"></i> mute
        {{/if}}
      </a>

      {{#if isTrashed}}
        <a href="" class="trash" {{action 'unTrash'}}>
          <i class="uk-icon-exclamation-triangle"></i> undelete
        </a>
        (deleted {{date trashedAt}})
      {{else}}
        <a href="" class="trash" {{action 'trash'}}>
          <i class="uk-icon-trash-o"></i> delete
        </a>
      {{/if}}
    </div>

    {{#if messagesToSync}}
      <div class='sync-warning well-when-not-small'>
        You've been sent {{sentMessages}} of {{totalMessages}} messages in this conversation.
        <a href="" {{action syncToInbox}} class="uk-button"}}>
          Sync to Inbox
        </a>
      </div>
    {{/if}}

    {{#if events}}
      <ul class="messages">
        {{#each event in events}}
          {{#if event.display}}
            {{#if event.message}}
              {{view Threadable.MessageView contextBinding='event.message'}}
            {{else}}
              {{view Threadable.EventView contextBinding='event'}}
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>
    {{else}}
      {{partial 'boxes_spinner'}}
    {{/if}}

    {{outlet reply}}
  </div>
</div>
