<div class="controlls">
  <a href="" {{action showConversations}} {{bind-attr class=":icon-with-text conversationsMode:active"}}>
    <i class="uk-icon-comment-o"></i>
    <span>Conversations</span>
  </a>
  <a href="" {{action showTasks}} {{bind-attr class=":icon-with-text tasksMode:active"}}>
    <i class="uk-icon-check"></i>
    <span>Tasks</span>
  </a>
  <a href="" {{action showMuted}} {{bind-attr class=":icon-with-text mutedMode:active"}}>
    <i class="uk-icon-volume-off"></i>
    <span>Muted</span>
  </a>
  <a href="" {{action toggleSeach}} class="icon-with-text">
    <i class="uk-icon-search"></i>
    <span>Search</span>
  </a>
</div>

<div class="task-controlls">
  <div class="uk-float-left">
    <a href="" {{bind-attr class=":my-tasks :icon-with-text :active"}}>
      <i class="uk-icon-th-large"></i>
      <span>My Tasks</span>
    </a>
    <a href="" {{bind-attr class=":all-tasks :icon-with-text"}}>
      <i class="uk-icon-th"></i>
      <span>All Tasks</span>
    </a>
  </div>
  <div class="uk-float-right">
    <a href="" {{bind-attr class=":show-completed :icon-with-text"}}>
      <i class="uk-icon-check-circle-o"></i>
      <span>Show Completed</span>
    </a>
    <a href="" {{bind-attr class=":prioritize :icon-with-text"}}>
      <i class="uk-icon-sort-amount-desc"></i>
      <span>Prioritize</span>
    </a>
  </div>
</div>


<ol {{bind-attr class=":uk-list mode"}}>
  {{#each conversation in view.conversations}}
    <li {{bind-attr class="conversation.task:task:conversation"}}>
      {{#if view.myConversations}}
        {{#link-to 'my_conversation' organization.slug conversation.slug}}
          {{view Covered.ConversationListMemberView contextBinding='conversation'}}
        {{/link-to}}
      {{/if}}
      {{#if view.ungroupedConversations}}
        {{#link-to 'ungrouped_conversation' organization.slug conversation.slug}}
          {{view Covered.ConversationListMemberView contextBinding='conversation'}}
        {{/link-to}}
      {{/if}}
      {{#if view.groupConversations}}
        {{#link-to 'group_conversation' organization.slug group.slug conversation.slug}}
          {{view Covered.ConversationListMemberView contextBinding='conversation'}}
        {{/link-to}}
      {{/if}}
    </li>
  {{else}}
    <li><h4>No conversations</h4></li>
  {{/each}}
</ol>
