<ul class="uk-list organization-conversations">
  {{#each conversation in controller}}
    {{#if conversation.hasMessages}}
      <li>
        {{#link-to 'conversation' organization.slug group.slug conversation.slug}}
          <ol class="recipients">
            <li>{{conversation.participantNames}}</li>
          </ol>
          <div class="updated-at">{{date conversation.updatedAt}}</div>
          <div class="number-of-messages">({{conversation.numberOfMessages}})</div>
          <div class="subject">{{conversation.subject}}</div>
          <div class="message-summary">{{conversation.messageSummary}}</div>
        {{/link-to}}
      </li>
    {{/if}}
  {{else}}
    <h4>There are no conversations</h4>
  {{/each}}
</ul>
