<div class="conversation-show conversation-details scrollable">
  <div class="padded">

    {{#link-to conversationRoute organizationSlug groupSlug slug class="uk-button uk-button-primary hidden-on-small-screens"}}
      <i class="uk-icon-chevron-left"></i>
      {{#if task}}
        back to task
      {{else}}
        back to conversation
      {{/if}}
    {{/link-to}}

    <h2 class="subject">
      <span class="hidden-on-small-screens">
        {{#if task}}
          <i class="uk-icon-check"><span class="sr-only">Task</span></i>
        {{else}}
          <i class="uk-icon-comment-o"><span class="sr-only">Conversation</span></i>
        {{/if}}
      </span>
      {{subject}}
    </h2>

    <div class="well-when-not-small">
      <h3>Followers:</h3>
      <ul class="uk-list member-list">
        {{#each member in details.followers}}
          {{partial 'conversation_details/member'}}
        {{else}}
          <li>
            None. All recipients are in the conversation's groups.
          </li>
        {{/each}}
      </ul>

      <h3>Muters:</h3>
      <ul class="uk-list member-list">
        {{details.muterCount}} member(s) have muted this conversation.
      </ul>

      <h3>
        Groups:
        <div class="conversation-groups">
          {{#each group in groups}}
            <span class="badge" {{bind-attr style="group.badgeStyle"}}>
              {{group.name}}
              {{#if group.private}}
                <i class="uk-icon-lock"><span class="sr-only">private</span></i>
              {{/if}}
            </span>
          {{/each}}
        </div>
      </h3>

      <h3 class="all-recipients">All recipients:</h3>
      <a href="" {{action 'toggleGroupRecipients'}} class="uk-button uk-button-small all-recipients">
      {{#if showGroupRecipients}}
        <i class="uk-icon-caret-down"></i> hide
      {{else}}
        <i class="uk-icon-caret-right"></i> show
      {{/if}}
      </a>
      <ul class="uk-list member-list">
        {{#if showGroupRecipients}}
          {{#each member in details.recipients}}
            {{partial 'conversation_details/member'}}
          {{else}}
            <li>
              Nobody receives this conversation via email.
            </li>
          {{/each}}
        {{/if}}
      </ul>
    </div>

  </div>
</div>






