<div class="change-doers-button uk-hidden-small" {{action 'toggleDoerSelector'}}>
  change
  <i class="uk-icon-caret-down"></i>
</div>
<ul {{bind-attr class="showDoerSelector::uk-hidden :doer-selector"}}>
  {{#each member in controller}}
    <li {{action 'toggleDoer'}} {{bind-attr class="member.isChanged:changed :member"}}>
      <i {{bind-attr class="member.isDoer:uk-icon-minus:uk-icon-plus :toggle-doer :uk-float-right"}}></i>
      <div class="avatar-small uk-float-left">
        <img {{bind-attr src="member.avatarUrl"}} />
      </div>

      <div class="name">{{member.name}}</div>
      <div class="email">{{member.emailAddress}}</div>
    </li>
  {{/each}}
</ul>
