<div class="doer-selector scrollable">
  <a href="" class="label not-link" {{action toggleDoerSelector}}>
    <i class="caret-icon uk-icon-caret-down"></i>
    doers:
  </a>
  <ul>
    {{#each member in controller}}
      <li {{bind-attr class="member.isChanged:changed member.isDoer:is-doer :member :uk-clearfix"}}>
        <a href="" class="not-link" {{action 'toggleDoer'}}>
          <div class="right-content uk-float-right">
            <i {{bind-attr class=":toggle-doer member.isDoer:uk-icon-minus:uk-icon-plus"}}></i>
          </div>

          <div class="left-content">
            <span class="avatar avatar-small uk-float-left">
              <img {{bind-attr src="member.avatarUrl"}}></img>
            </span>
            <div class="name">{{member.name}}</div>
            <div class="email">{{member.emailAddress}}</div>
          </div>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
