{{#if loading}}
  {{partial 'lines_spinner'}}
{{else}}
  {{#unless fullyLoaded}}
    {{partial "load_more"}}
  {{/unless}}
{{/if}}

<ul class="uk-list">
  {{#each task in filteredContent}}
    {{partial 'tasks/list/member'}}
  {{else}}
    {{#unless loading}}
      <li class="empty-list"><h4>No Done Tasks</h4></li>
    {{/unless}}
  {{/each}}
</ul>

<div class="list-divider">
  <i class="uk-icon-arrow-circle-o-up"></i>
  Done Tasks
</div>
