<div class="group-settings scrollable">
  <div>
    <form class="uk-form" {{action 'updateGroup' on='submit'}}>

      <div class="uk-alert uk-alert-warning warning">
        <i class="uk-icon-exclamation-triangle uk-float-left"></i>
        <div class="text">Changes made here will affect everybody in the group. Be careful!</div>
      </div>

      <h3 class="uk-text-bold">Group Settings</h3>
      {{#if error}}
        <h3>Error: {{error}}</h3>
      {{/if}}

      <fieldset>
        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Name:
          </label>
          <div class="uk-form-controls input-field">
            {{input value=editableGroup.name name="name" disabled=true}}
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Subject Tag:
          </label>
          <div class="uk-form-controls input-field">
            {{input value=editableGroup.subjectTag name="subjectTag"}}
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Description:
          </label>
          <div class="uk-form-controls input-field">
            {{textarea rows=1 maxlength=50 value=editableGroup.description name="description"}}
          </div>
          <div class="textarea-remaining">
            {{descriptionLengthRemaining}}
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Color (in hex... <a href="http://flatuicolors.com/" target="_blank">these are good</a>):
          </label>
          <div class="uk-form-controls input-field">
            {{input value=editableGroup.color name="color"}}
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            {{input checked=editableGroup.autoJoin type="checkbox" name="autoJoin"}}
            Automatically add new organization members to this group
          </label>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Hold messages from senders outside of your organization:
          </label>
          <div class="uk-form-controls input-field">
            {{view Ember.Select content=nonMemberPostingTypes optionLabelPath="content.prettyName" optionValuePath="content.method" value=editableGroup.nonMemberPosting}}
          </div>

          <div class="notice">
            <i class="uk-icon-arrow-circle-right"></i>
            {{#if editableGroup.allowNonMemberPosting}}
              Non members can create new conversations through email, and reply to existing conversations if they are added.
            {{/if}}
            {{#if editableGroup.allowNonMemberReplies}}
              Non members cannot create new conversations through email, but if added to an existing conversation, they can reply.
            {{/if}}
            {{#if editableGroup.holdNonMemberPosting}}
              All messages from non-members are held, whether a new conversation or a reply to an existing conversation.
            {{/if}}
          </div>
        </div>

        {{#if editAdvanced}}
          <div class="advanced well">
            <h4 class="uk-text-bold">Aliased email address:</h4>
            <p>
              To use an email alias for this group, enter it here and we'll make sure that messages
              from Threadable have the correct headers:
            </p>
            <div class="uk-form-row">
              <label class="uk-form-label input-label">
                Alias Email Address:
                <div class="uk-form-controls input-field">
                  {{input value=editableGroup.aliasEmailAddress class="uk-width-1-1" name="aliasEmailAddress"}}
                </div>
                {{#if canSetGoogleSync}}
                  {{input checked=editableGroup.googleSync type="checkbox" name="googleSync"}}
                  Sync with google apps for drive and calendar
                {{/if}}
              </label>
            </div>

            <p>
              For best results, enter the address including your preferred display name. For example, rather than
              saying <span class="example-address">mygroup@example.com</span>, enter
              <span class="example-address">"My Group" &lt;mygroup@example.com&gt;</span>.
            </p>

            {{#if editableGroup.aliasEmailAddress}}
              <p>
                Make sure to create the following aliases in your mail system:
              </p>

              <ol class="address-list">
                <li>
                  {{aliasPlainAddress}} <i class="uk-icon-arrow-right"></i>
                  <br/>
                  <span class="destination-address">{{internalEmailAddress}}</span>
                </li>
                <li>
                  {{aliasTaskAddress}} <i class="uk-icon-arrow-right"></i>
                  <br/>
                  <span class="destination-address">{{internalTaskEmailAddress}}</span>
                </li>
              </ol>
            {{/if}}

            <h4 class="uk-text-bold">Email preprocess webhook:</h4>
            <p>
              To process messages using your own code before they go to Threadable, enter the url of your
              preprocessor application here. Documentation forthcoming. :)
            </p>
            <div class="uk-form-row">
              <label class="uk-form-label input-label">
                Webhook URL:
                <div class="uk-form-controls input-field">
                  {{input value=editableGroup.webhookUrl class="uk-width-1-1" name="webhookUrl"}}
                </div>
              </label>
            </div>

            <a href="" class="toggle-advanced" {{action 'toggleAdvanced'}}><i class="uk-icon-flask"></i> Hide experimental options</a>
          </div>
        {{else}}
          <a href="" class="toggle-advanced" {{action 'toggleAdvanced'}}><i class="uk-icon-flask"></i> Show experimental options</a>
        {{/if}}

        <div class="uk-form-row">
          {{#if updateInProgress}}
            <button class="uk-button uk-button-primary update-button">{{partial 'lines_spinner_button'}}</button>
          {{else}}
            <input type="submit" class="uk-button uk-button-primary update-button" value="Update group settings"></input>
          {{/if}}
        </div>

      </fieldset>
    </form>

    <div class="example-email well">
      <h4 class="uk-text-bold">Your group's email address:</h4>
      <div>
        {{#if editableGroup.aliasEmailAddress}}
          <span class="email">{{editableGroup.aliasEmailAddress}}</span>
        {{else}}
          <span class="email">"{{controllers.organization.name}}: {{editableGroup.name}}" &lt;{{editableGroup.emailAddress}}&gt;</span>
        {{/if}}
      </div>

      <h4 class="uk-text-bold">Example email subject:</h4>
      <div>
        <span class="subject">[{{editableGroup.subjectTag}}] Hey! I'm writing you an email!</span>
      </div>

      <h4 class="uk-text-bold">Conversation list badge:</h4>
      <div>
        <span class="badge" {{bind-attr style="editableGroup.badgeStyle"}}>{{name}}</span>
      </div>
    </div>
    {{#if primary}}
    {{else}}
      {{#if canDelete}}
        <div class="example-email well danger-zone">
          <h4 class="title">Danger Zone</h4>
          <p class="subtitle">These actions cannot be undone</p>
          <button {{action 'deleteGroup'}} class="uk-button uk-button-danger">Delete group</button>
        </div>
      {{else}}
        <div class="well">
          You can only delete this group if it is empty
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
