<div class="current-user-controls">
  <div class="avatar">
    <img {{bind-attr src="currentUser.avatarUrl"}} />
  </div>
  <div class="details">
    <div class="name">{{currentUser.name}}</div>
    <div class="organization-name">{{organization.name}}</div>
    <div class="organization-email-address">{{organization.emailAddress}}</div>
  </div>
  <a class="settings-gear keep-sidebar-open" href="" {{action toggleSettings}}><i class="uk-icon-gear"></i></a>
</div>

<div class="main-nav scrollable">

  <div {{bind-attr class=":settings settingsVisible:uk-visible:uk-hidden"}}>
    <ul class="uk-nav uk-nav-offcanvas">
      <li class="uk-nav-header">
        Settings
      </li>
      <li><a href="/profile">Edit Profile</a></li>
      <li><a href="/sign_out">Sign Out</a></li>
    </ul>
  </div>

  <ul class="uk-nav uk-nav-offcanvas groups-list">
    <li>{{#link-to 'conversations' 'my'}}My Conversations{{/link-to}}</li>

    <li>{{#link-to 'conversations' 'ungrouped'}}Ungrouped Conversations{{/link-to}}</li>

    <li {{bind-attr class=":held-message-button organization.hasHeldMessages:uk-visible:uk-hidden"}}>
      <a {{bind-attr href='organization.heldMessagesUrl'}}>Held Messages</a>
    </li>

    <li class="uk-nav-header">My Groups</li>
    {{#each group in myGroups}}
      <li>
        {{#link-to 'conversations' group.slug }}
          <span class="name">+{{group.name}}</span>
          <span class="badge" {{bind-attr style="group.badgeStyle"}}>{{group.conversationsCount}}</span>
        {{/link-to}}
      </li>
    {{else}}
      <li class="empty-list"><div>You are not subscribed to any groups</div></li>
    {{/each}}

    <li class="uk-nav-header">Other Groups</li>
    {{#each group in otherGroups}}
      <li>
        {{#link-to 'conversations' group.slug }}
          <span class="name">+{{group.name}}</span>
          <span class="badge" {{bind-attr style="group.badgeStyle"}}>{{group.conversationsCount}}</span>
        {{/link-to}}
      </li>
    {{else}}
      <li class="empty-list"><div>There are no other groups</div></li>
    {{/each}}
  </ul>


  {{#if otherOrganizations}}
    <div class="organization">
      <ul class="uk-nav uk-nav-offcanvas">
        <li class="uk-nav-header">
          <a href="" class="a-header keep-sidebar-open" {{action toggleOrganization}}>
            <i {{bind-attr class="organizationVisible:uk-icon-caret-down:uk-icon-caret-right"}}></i>
            Other Organizations
          </a>
        </li>
        {{#each organization in otherOrganizations}}
          <li {{bind-attr class=":change-organization organizationVisible:uk-visible:uk-hidden"}}>
            {{#link-to 'conversations' organization.slug 'my'}}{{organization.name}}{{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

</div>

<ul class="uk-nav uk-nav-offcanvas bottom-nav">
  <li class="members-button">
    {{#link-to 'organization_members' organization.slug}}Members{{/link-to}}
  </li>
  <li class="feedback">
    <a class="keep-sidebar-open" id="feedback-button" href="">
      <i class="uk-icon-bullhorn"></i>
      Feedback / Help
    </a>
  </li>
</ul>
