<nav class="navbar" {{bind-attr style="navbarStyle"}}>
  <div class="uk-hidden-small">
    {{partial "navbar/organization"}}
  </div>
  <div class="task-controls uk-visible-small">
    {{#if showComposing   }} {{partial "navbar/compose"     }} {{/if}}
    {{#if showConversation}} {{partial "navbar/conversation"}} {{/if}}
    {{#if showOrganization}} {{partial "navbar/organization"}} {{/if}}
  </div>
</nav>
