<ul class="uk-list">
  {{#each task in filteredContent}}
    {{partial 'tasks/list/member'}}
  {{else}}
    {{#unless loading}}
      <li class="empty-list"><h4>No Not Done Tasks</h4></li>
    {{/unless}}
  {{/each}}
</ul>

{{#if loading}}
  {{partial 'lines_spinner'}}
{{else}}
  {{#unless fullyLoaded}}
    {{partial "load_more"}}
  {{/unless}}
{{/if}}
