<ul class="uk-list">
  {{#each task in controller}}
    {{partial 'tasks/list/member'}}
  {{else}}
    {{#if loading}}
    {{else}}
      <li class="empty-list"><h4>No Not Done Tasks</h4></li>
    {{/if}}
  {{/each}}
</ul>

{{#if loading}}
  {{partial 'lines_spinner'}}
{{else}}
  {{#if fullyLoaded}}
  {{else}}
    <a href="" class="load-more-button" {{action loadMore}}>Load More</a>
  {{/if}}
{{/if}}
