<div class="group-settings organization-settings scrollable">
  <div>
    <form class="uk-form" {{action 'updateOrganization' on='submit'}}>

      <h3 class="uk-text-bold">Organization Settings</h3>
      {{#if error}}
        <h3>Error: {{error}}</h3>
      {{/if}}

      <fieldset>
        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Name:
          </label>
          <div class="uk-form-controls input-field">
            {{input value=editableOrganization.name name="name"}}
          </div>
          <div class="notice">
            <i class="uk-icon-arrow-circle-right"></i>
            Your groups receive email at {{emailAddressUsername}}.threadable.com.
            <a href="mailto:support@threadable.com">Contact us</a> to change your subdomain.
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Description:
          </label>
          <div class="uk-form-controls input-field">
            {{textarea maxlength=250 value=editableOrganization.description name="description"}}
          </div>
          <div class="textarea-remaining">
            {{descriptionLengthRemaining}}
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Sign-up:
          </label>
          <div class="uk-form-controls input-field">
            {{view Ember.Select content=signupMethods optionLabelPath="content.prettyName" optionValuePath="content.method" value=editableOrganization.publicSignup}}
          </div>
          <div class="notice">
            <i class="uk-icon-arrow-circle-right"></i>
            {{#if publicSignup}}
              New members can join by visiting <a {{bind-attr href=joinLink}} target="_blank">threadable.com/{{slug}}</a>.
            {{else}}
              New members must be invited.
            {{/if}}
          </div>
        </div>

        <h4 class="uk-text-bold">Member permissions</h4>
        {{#unless publicSignup}}
          <div class="uk-form-row hidden-setting">
            <label class="uk-form-label input-label">
              Can invite new organization members:
            </label>
            <div class="uk-form-controls input-field">
              {{view Ember.Select disabled=isFree content=membershipTypes optionLabelPath="content.prettyName" optionValuePath="content.role" value=editableOrganization.organizationMembershipPermission}}
              {{#if isFree}}
                <span class="upgrade">
                  <i class="uk-icon-asterisk"></i> Pro required
                </span>
              {{/if}}
            </div>
          </div>
        {{/unless}}

        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Can change group members:
          </label>
          <div class="uk-form-controls input-field">
            {{view Ember.Select disabled=isFree content=membershipTypes optionLabelPath="content.prettyName" optionValuePath="content.role" value=editableOrganization.groupMembershipPermission}}
            {{#if isFree}}
              <span class="upgrade">
                <i class="uk-icon-asterisk"></i> Pro required
              </span>
            {{/if}}
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label input-label">
            Can change group settings:
          </label>
          <div class="uk-form-controls input-field">
            {{view Ember.Select disabled=isFree content=membershipTypes optionLabelPath="content.prettyName" optionValuePath="content.role" value=editableOrganization.groupSettingsPermission}}
            {{#if isFree}}
              <span class="upgrade">
                <i class="uk-icon-asterisk"></i> Pro required
              </span>
            {{/if}}
          </div>
        </div>

        <div class="uk-form-row">
          {{#if updateInProgress}}
            <button class="uk-button uk-button-primary update-button">{{partial 'lines_spinner_button'}}</button>
          {{else}}
            <input type="submit" class="uk-button uk-button-primary update-button" value="Update settings"></input>
          {{/if}}
        </div>
      </fieldset>


    </form>

    {{#if isPaid}}
      <div>
        <h4 class="uk-text-bold">Google Apps domain connection</h4>
        <p>
          {{#if googleUser}}
            <b>Connected using:</b>
            <br/>
            {{googleUser.name}} &lt;{{googleUser.emailAddress}}&gt;
          {{else}}
            This organization is not connected to a Google Apps domain.
          {{/if}}
        </p>

        <p>
          {{#if currentUserIsGoogleUser}}
            (your account)
          {{else}}
            {{#if hasGoogleAuth}}
              <button {{action 'claimGoogleAccount'}} class="uk-button uk-button-primary">Connect to my Google account</button>
            {{else}}
              To connect your Google Apps domain admin account, visit your <a href="/profile">profile</a>.
            {{/if}}
          {{/if}}
        </p>
      </div>

      <div>
        <h4 class="uk-text-bold">Your domains</h4>
        <p>
          Your organization can receive email at all of the following domains.
          Messages will be sent using the outgoing domain.
        </p>
        <ul class='uk-list uk-list-striped email-domains'>
          <li>
            <span class="controls default">
              {{#if internalDomainOutgoing}}
                <i class="uk-icon-arrow-circle-right"></i> outgoing
              {{else}}
                <a {{action 'outgoingDomain' "none"}}>set outgoing</a>
              {{/if}}
            </span>
            {{emailAddressUsername}}.threadable.com
          </li>

          {{#each emailDomain in sortedDomains}}
            <li>
              <span class="controls">
                {{#if emailDomain.outgoing}}
                  <i class="uk-icon-arrow-circle-right"></i> outgoing
                {{else}}
                  <a {{action "outgoingDomain" emailDomain}}>set outgoing</a>
                {{/if}}
                <a {{action "deleteDomain" emailDomain}}><i class='uk-icon-times'></i></a>
              </span>
              {{emailDomain.domain}}
            </li>
          {{/each}}
        </ul>

        <form class="uk-form" {{action 'addDomain' on='submit'}}>
          <fieldset>
            <div class="uk-form-row">
              <label class="uk-text-bold uk-form-label input-label">
                New Domain:
              </label>
              <div class="uk-form-controls input-field">
                {{input value=domain name="domain" placeholder="example.com"}}
                <input type="submit" class="uk-button uk-button-primary" value="Add"></input>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

    {{else}}
      <p>
        Control more stuff with Threadable Pro!
      </p>

      <p>
        With a Threadable Pro account, you can:
        <ul>
          <li>Make members-only groups</i>
          <li>Change permissions</i>
          <li>Use a custom email domain</li>
          <li>Connect Threadable to Google Apps</li>
        </ul>
        <a {{bind-attr href='subscribeUrl'}} class="uk-button uk-button-primary">Subscribe now</a><br>
        Special early-adopter pricing: <b>$3/user/month!</b>
      </p>
    {{/if}}

  </div>
</div>
