<div class="organization" {{bind-attr data-focus="focus"}}>

  <a href="" class="shroud" {{action closeSidebar}}></a>

  {{render "topbar"}}

  {{render "sidebar"}}

  <div class="panes">
    <div class="slider">
      <div class="pane1">
        {{outlet "pane1"}}
      </div>
      <div class="pane2">
        {{outlet "pane2"}}
      </div>
    </div>
  </div>

</div>
