{{#if conversation.isTrashed}}
  <div class="trash-warning">
    <i class="uk-icon-warning"></i>
    <div>
      This conversation is in the trash. Undelete it to reply.
    </div>
  </div>
{{else}}
  {{outlet pendingDoers}}
  {{#if error}}
    <h2>Error: {{error}}</h2>
  {{/if}}
  <form class="uk-form-horizontal" {{action 'sendMessage' on='submit'}}>
    <fieldset>
      {{textarea value=body class="uk-form-blank reply-content" name="body" placeholder="Add your voice..."}}
      <div class="controls">
        <input type="submit" class="uk-button uk-button-primary" {{bind-attr disabled="disabled" value="buttonText"}}></input>
      </div>
    </fieldset>
  </form>
{{/if}}
