<a class="user-controls toggle-user-settings" href="">
  <div class="avatar">
    <img {{bind-attr src="currentUser.avatarUrl"}} />
  </div>
  <div class="details">
    <div class="name">{{currentUser.name}}</div>
    <div class="email-address">{{currentUser.emailAddress}}</div>
  </div>
  <div class="caret-container">
    <i class="caret uk-icon-caret-left"><span class="sr-only">User Options</span></i>
  </div>
</a>

<div class="current-organization scrollable">

  <div class="user-settings">
    <ul class="nested">
      <li>
        <a href="/profile">
          <i class="uk-icon-user"></i>
          Edit profile
        </a>
      </li>
      <li>
        <a href="/sign_out">
          <i class="uk-icon-sign-out"></i>
          Sign out
        </a>
      </li>
    </ul>
  </div>

  <a class="organization-details toggle-organization-settings" href="">
    <div class="name">{{organization.name}}</div>
    <div class="email-address">{{organization.emailAddress}}</div>
    <div class="caret-container">
      <i class="caret uk-icon-caret-left"></i>
    </div>
  </a>

  <div class="organization-settings">
    <ul class="nested">
      {{!-- <li>
        {{#link-to 'organization_settings' organization.slug}}
          <i class="uk-icon-gear"></i>
          Settings
        {{/link-to}}
      </li> --}}
      <li>
        {{#link-to 'organization_members' organization.slug}}
          <i class="uk-icon-users"></i>
          Members
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'add_organization_group' organization.slug}}
          <i class="uk-icon-comments-o"></i>
          Create new group
        {{/link-to}}
      </li>
      <li>
        <a href="" class="open-other-organizations dont-close-sidebar">
          <i class="uk-icon-sign-out"></i>
          Switch organizations
        </a>
      </li>

    </ul>
  </div>

  <ul>
    <li>
      {{#link-to 'conversations' 'my'}}My Conversations{{/link-to}}
    </li>
    <li>
      {{#link-to 'conversations' 'ungrouped'}}Ungrouped Conversations{{/link-to}}
    </li>

    <li {{bind-attr class=":held-message-button organization.hasHeldMessages:uk-visible:uk-hidden"}}>
      <a {{bind-attr href='organization.heldMessagesUrl'}}>Held Messages</a>
    </li>
  </ul>

  <div class="header">My groups</div>
  <div class="my-groups">
    <ul>
      {{#each group in myGroups}}
        {{partial "sidebar/group"}}
      {{else}}
        <div class="empty-list">
          You are not subscribed to any groups
        </div>
      {{/each}}
    </ul>
  </div>

  <div class="header">Other groups</div>
  <div class="other-groups">
    <ul>
      {{#each group in otherGroups}}
        {{partial "sidebar/group"}}
      {{else}}
        <div class="empty-list">
          There are no other groups
        </div>
      {{/each}}
    </ul>
  </div>

  <div>
    <ul>
      <li>
        <a href="" class="open-other-organizations dont-close-sidebar">
          <i class="uk-icon-sign-out"></i>
          Switch organizations
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="other-organizations scrollable">
  <div class="header">
    Your Organizations
    <div class="uk-float-right">
      <a href=""><i class="uk-icon-times"></i></a>
    </div>
  </div>
  <ul>
    {{#each organization in currentUser.organizations}}
      <li>
        {{#link-to 'conversations' organization.slug 'my' class="dont-close-sidebar"}}
          {{organization.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
  <br/>
  <ul>
    <li>
      <a href="/create">
        <i class="uk-icon-plus-square"></i>
        Create a new Organization
      </a>
    </li>
  </ul>
</div>

<ul class="bottom-controls">
  <li>
    <a id="feedback-button" class="dont-close-sidebar" href="">
      <i class="uk-icon-bullhorn"></i>
      Feedback / Help
    </a>
  </li>
</ul>
