<form class="uk-form" {{action signIn on='submit'}}>
  {{#if error}}
    {{error}}
  {{/if}}
  <fieldset>
    {{input type="text" placeholder="Email" value=emailAddress autofocus=true}}
    {{input type="password" placeholder="Password" value=password}}
    {{input class='uk-btn' type='submit' value='Sign in'}}
  </fieldset>
</form>
