%h1 Welcome to Multify!


= form_for Authentication.new, url: authentication_path do |f|

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit 'Save'
