.well.well-centered
  %h2= @organization.new_record? ? 'New Organization' : @organization.name
  = simple_form_for @organization do |f|
    = f.error_notification
    = f.input :name, required: true, autofocus: true
    = f.input :short_name, required: false
    - if @organization.slug.present?
      .input
        %label Url
        %p
          %strong= organization_url(@organization.slug)
      .input
        %label Email address
        %p
          %strong= @organization.formatted_email_address
      .input
        %label Example subject
        %p
          %strong RE: [#{@organization.subject_tag}] anyone up for lunch?
    = f.input :description
    = f.submit class: 'btn btn-primary'
