.organization-create.page-column
  .top-box
    Create your Threadable
  .uk-container-center.uk-width-large-2-3.uk-width-medium-2-3.authentication-form
  %section.uk-width-3-4.uk-container-center
    .well-when-not-small
      = simple_form_for @new_organization, url: new_organization_path, html: {class: 'uk-form uk-form-stacked'} do |f|
        = hidden_field_tag 'token', sign_up_confirmation_token
        .uk-grid.uk-grid-small.heading
          .uk-width-medium-2-5.uk-hidden-small
            .divider
          .uk-width-medium-1-5.uk-width-small-2-3.section-title
            YOUR ORGANIZATION
          .uk-width-medium-2-5.uk-hidden-small
            .divider
        %section.organization
          .uk-form-row
            %label.uk-form-label Organization name
            = f.input :organization_name,                   placeholder: 'Thingsworth Incorporated', input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false, required: true
          .uk-form-row.email-address-username
            %label.uk-form-label Your new email domain
            group_name@
            = f.input :email_address_username, as: :string, placeholder: 'thingsworth', input_html: {class: 'uk-width-1-1 uk-form-large', maxlength: 30}, label: false, required: true
            %span .threadable.com
          .details
            You can have as many groups as you like. Your first group will be named the same as your organization.

        .uk-grid.uk-grid-small.heading
          .uk-width-medium-2-5.uk-hidden-small
            .divider
          .uk-width-medium-1-5.uk-width-small-2-3.section-title
            YOU
          .uk-width-medium-2-5.uk-hidden-small
            .divider
        %section.creator
          - if signed_in?
            .current-user
              .avatar{style: "margin-right: 1em"}
                = image_tag current_user.avatar_url
              .name
                = %(#{current_user.name})
                .email
                  = %(#{current_user.email_address})
                .text-link
                  = link_to 'This is not me', sign_out_path(r: new_organization_path(organization_name: @new_organization.organization_name)), class: 'auth-link', tabindex: -1
          - else
            .text-link
              = link_to 'I already have an account', sign_in_path(r: new_organization_path(organization_name: @new_organization.organization_name)), class: 'auth-link', tabindex: -1
            .uk-form-row
              %label.uk-form-label Your name
              = f.input :your_name,                            placeholder: 'Alice Adminwright',             input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false, required: true
            .uk-form-row
              %label.uk-form-label Your email address
              = f.input :your_email_address,    as: :email,    placeholder: 'alice@thingsworthinc.com',    input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false, disabled: true
            .uk-form-row
              %label.uk-form-label Password
              = f.input :password,              as: :password, placeholder: '*****',              input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false, required: true
            .uk-form-row
              %label.uk-form-label Password confirmation
              = f.input :password_confirmation, as: :password, placeholder: '*****', input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false, required: true

        .uk-grid.uk-grid-small.heading
          .uk-width-medium-2-5.uk-hidden-small
            .divider
          .uk-width-medium-1-5.uk-width-small-2-3.section-title
            OTHER MEMBERS
          .uk-width-medium-2-5.uk-hidden-small
            .divider
        %section.members
          .details
            Each of these people will receive an invitation to your organization.
          - (@new_organization.members + [@new_organization.new_member]).each do |member|
            = f.simple_fields_for :members, member do |m|
              .other-member
                .uk-form-row
                  %label.uk-form-label Your friend's name
                  = m.input :name,           as: :string, placeholder: "Bob von Usersmith",      input_html: {name: 'new_organization[members][][name]',          class: 'uk-width-1-1 uk-form-large'}, label: false, required: false
                .uk-form-row
                  %label.uk-form-label Your friend's email address
                  = m.input :email_address,  as: :email,  placeholder: 'bob@thingsworthinc.com', input_html: {name: 'new_organization[members][][email_address]', class: 'uk-width-1-1 uk-form-large'}, label: false, required: false

        .uk-form-row
          = f.submit 'Create', class: 'uk-button uk-button-primary uk-button-large sign-in-button'



:javascript
  #{ render 'new.js' }
