%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Slug:
  = @user.slug
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password

= link_to 'Edit', edit_user_path(@user.slug)
\|
= link_to 'Back', users_path
