!!!
%html
  %head
    %title Covered
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_tag %(ENV = #{javascript_env.to_json};)
    = javascript_include_tag "init"
    = csrf_meta_tags

  %body
    :javascript
      preventEverything();

    .page
      = render_widget :page_navigation, current_user: current_user, current_project: current_project
      .content
        = yield
      .flash_messages
      = render_widget :page_footer


    = filepicker_js_include_tag
    :javascript
      filepicker.setKey("#{Rails.application.config.filepicker_rails.api_key}")


    %form
      %input{type:"hidden", value:"0", id: :page_loaded_from_back_button_detection}
