!!!
%html
  %head
    %title Multify
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_tag %(ENV = #{javascript_env.to_json};)
    = javascript_include_tag "init"
    = csrf_meta_tags

  %body
    #page{name:page_name}
      = render_widget :page_navigation, current_user: current_user, current_project: current_project
      .content
        = yield
      = render_widget :flash_messages
      = render_widget :page_footer
