= content_for :nav do
  %nav.nav
    .content
      .left-nav
        %span.menu-nav
          %i.uk-icon-bars{"onclick" => '', "data-uk-offcanvas" => "{target:'#side-nav'}"}

          #side-nav.uk-offcanvas
            .uk-offcanvas-bar
              %ul.uk-nav.uk-nav-offcanvas{"data-uk-nav" => ""}
                %li
                  %a.button{href: "/#{threadable.current_user.current_organization.slug}"}
                    back to #{threadable.current_user.current_organization.name}
                %li
                  %a.button{href: "/profile"} Settings
                -if threadable.current_user.current_organization.held_messages.count > 0
                  %li
                    %a.button{href: "/#{threadable.current_user.current_organization.slug}/held_messages"}
                      Held Messages

        %a{href: root_url}
          = render 'shared/threadable_logo'
      .right-nav
        %span.horizontal-nav
          %a.button{href: "/profile"} Settings
          -if threadable.current_user.current_organization.held_messages.count > 0
            %a.button{href: "/#{threadable.current_user.current_organization.slug}/held_messages"}
              Held Messages
          %a.button{href: "/#{threadable.current_user.current_organization.slug}"}
            back to #{threadable.current_user.current_organization.name}

= render 'layouts/common'
