.uk-container-center.uk-width-large-1-3.uk-width-medium-1-2.authentication-form
  %h1 Please complete your account
  .well-when-not-small
    = simple_form_for Object.new, url: sign_in_path, html: {class: 'sign-in-form uk-form uk-form-stacked'} do |f|
      %fieldset
        %input{type: 'hidden', name: 'r', value: params[:r]}
        .uk-form-row
          = f.input :email_address, placeholder: 'Email Address', autofocus: @authentication.email_address.blank?,   input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.input :password,      placeholder: 'Password',      autofocus: @authentication.email_address.present?, input_html: {class: 'uk-width-1-1 uk-form-large'}, label: false
        .uk-form-row
          = f.input :remember_me, :as => :boolean, label_html:{style:'display: inline'}
        .uk-form-row
          .uk-float-right
            %div
              %a.forgot-password-link{href:""} No password yet?
            %div
              %a.forgot-password-link{href:""} Forgot Password?

          = f.submit 'Sign in', class: 'uk-button uk-button-primary uk-button-large sign-in-button'
          %a.uk-button.uk-button-large{href: '/'}
            Sign up
